src/*.o
src/*.exe
src/*.res
src/*.cfg
src/*.log
src/*.dll
src/*.dmp
src/NUL
src/nvr/
src/roms/
/.vs
/build
/.vscode
/CMakeUserPresets.json
/CMakeCache.txt
CMakeFiles
*.cmake
*.obj
*.d
*.a
src/include/86box/version.h
Makefile
