/* Copyright holders: Sarah Walker, Tenshi
   see COPYING for more details
*/
#include <windows.h>
#include "resources.h"

#ifndef UPDOWN_CLASS
#define UPDOWN_CLASS L"msctls_updown32"
#endif

MainMenu MENU DISCARDABLE
BEGIN
        POPUP "&File"
        BEGIN
                MENUITEM "&Hard Reset",           IDM_FILE_HRESET
                MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",IDM_FILE_RESET_CAD
                MENUITEM "E&xit",                 IDM_FILE_EXIT
        END
        POPUP "&Disc"
        BEGIN
                MENUITEM "Change FDD& 1...", IDM_DISC_1
                MENUITEM "Change FDD 1 (&Write-protected)...", IDM_DISC_1_WP
                MENUITEM "&Eject FDD 1",     IDM_EJECT_1
                MENUITEM SEPARATOR
                MENUITEM "Change FDD &2...", IDM_DISC_2
                MENUITEM "Change FDD 2 (W&rite-protected)...", IDM_DISC_2_WP
                MENUITEM "E&ject FDD 2",     IDM_EJECT_2
                MENUITEM SEPARATOR
                MENUITEM "Change FDD &3...", IDM_DISC_3
                MENUITEM "Change FDD 3 (W&rite-protected)...", IDM_DISC_3_WP
                MENUITEM "E&ject FDD 3",     IDM_EJECT_3
                MENUITEM SEPARATOR
                MENUITEM "Change FDD &4...", IDM_DISC_4
                MENUITEM "Change FDD 4 (W&rite-protected)...", IDM_DISC_4_WP
                MENUITEM "E&ject FDD 4",     IDM_EJECT_4
                MENUITEM SEPARATOR
                MENUITEM "&Configure hard discs...",IDM_HDCONF
                POPUP "C&D-ROM 1"
                BEGIN
                        MENUITEM "&Enabled", IDM_CDROM_1_ENABLED
                        MENUITEM "S&ound enabled", IDM_CDROM_1_SOUND_ON
                        MENUITEM SEPARATOR
                        MENUITEM "&SCSI", IDM_CDROM_1_SCSI
                        MENUITEM SEPARATOR
                        MENUITEM "E&mpty",IDM_CDROM_1_EMPTY
                        MENUITEM "&Reload previous disc",IDM_CDROM_1_RELOAD
                        MENUITEM SEPARATOR
	                POPUP "&IDE channel..."
			BEGIN
                        	MENUITEM "&C:",IDM_CDROM_1_C
                        	MENUITEM "&D:",IDM_CDROM_1_D
                        	MENUITEM "&E:",IDM_CDROM_1_E
                        	MENUITEM "&F:",IDM_CDROM_1_F
                        	MENUITEM "&G:",IDM_CDROM_1_G
                        	MENUITEM "&H:",IDM_CDROM_1_H
                        	MENUITEM "&I:",IDM_CDROM_1_I
                        	MENUITEM "&J:",IDM_CDROM_1_J
			END
	                POPUP "S&CSI ID..."
			BEGIN
                        	MENUITEM "&0",IDM_CDROM_1_0
                        	MENUITEM "&1",IDM_CDROM_1_1
                        	MENUITEM "&2",IDM_CDROM_1_2
                        	MENUITEM "&3",IDM_CDROM_1_3
                        	MENUITEM "&4",IDM_CDROM_1_4
                        	MENUITEM "&5",IDM_CDROM_1_5
                        	MENUITEM "&6",IDM_CDROM_1_6
                        	MENUITEM "&8",IDM_CDROM_1_8
                        	MENUITEM "&9",IDM_CDROM_1_9
                        	MENUITEM "10",IDM_CDROM_1_10
                        	MENUITEM "11",IDM_CDROM_1_11
                        	MENUITEM "12",IDM_CDROM_1_12
                        	MENUITEM "13",IDM_CDROM_1_13
                        	MENUITEM "14",IDM_CDROM_1_14
                        	MENUITEM "15",IDM_CDROM_1_15
			END
                        MENUITEM SEPARATOR
                        MENUITEM "&ISO...",IDM_CDROM_1_ISO
                END
                POPUP "CD-&ROM 2"
                BEGIN
                        MENUITEM "&Enabled", IDM_CDROM_2_ENABLED
                        MENUITEM "S&ound enabled", IDM_CDROM_2_SOUND_ON
                        MENUITEM SEPARATOR
                        MENUITEM "&SCSI", IDM_CDROM_2_SCSI
                        MENUITEM SEPARATOR
                        MENUITEM "E&mpty",IDM_CDROM_2_EMPTY
                        MENUITEM "&Reload previous disc",IDM_CDROM_2_RELOAD
                        MENUITEM SEPARATOR
	                POPUP "&IDE channel..."
			BEGIN
                        	MENUITEM "&C:",IDM_CDROM_2_C
                        	MENUITEM "&D:",IDM_CDROM_2_D
                        	MENUITEM "&E:",IDM_CDROM_2_E
                        	MENUITEM "&F:",IDM_CDROM_2_F
                        	MENUITEM "&G:",IDM_CDROM_2_G
                        	MENUITEM "&H:",IDM_CDROM_2_H
                        	MENUITEM "&I:",IDM_CDROM_2_I
                        	MENUITEM "&J:",IDM_CDROM_2_J
			END
	                POPUP "S&CSI ID..."
			BEGIN
                        	MENUITEM "&0",IDM_CDROM_2_0
                        	MENUITEM "&1",IDM_CDROM_2_1
                        	MENUITEM "&2",IDM_CDROM_2_2
                        	MENUITEM "&3",IDM_CDROM_2_3
                        	MENUITEM "&4",IDM_CDROM_2_4
                        	MENUITEM "&5",IDM_CDROM_2_5
                        	MENUITEM "&6",IDM_CDROM_2_6
                        	MENUITEM "&8",IDM_CDROM_2_8
                        	MENUITEM "&9",IDM_CDROM_2_9
                        	MENUITEM "10",IDM_CDROM_2_10
                        	MENUITEM "11",IDM_CDROM_2_11
                        	MENUITEM "12",IDM_CDROM_2_12
                        	MENUITEM "13",IDM_CDROM_2_13
                        	MENUITEM "14",IDM_CDROM_2_14
                        	MENUITEM "15",IDM_CDROM_2_15
			END
                        MENUITEM SEPARATOR
                        MENUITEM "&ISO...",IDM_CDROM_2_ISO
                END
                POPUP "CD-R&OM 3"
                BEGIN
                        MENUITEM "&Enabled", IDM_CDROM_3_ENABLED
                        MENUITEM "S&ound enabled", IDM_CDROM_3_SOUND_ON
                        MENUITEM SEPARATOR
                        MENUITEM "&SCSI", IDM_CDROM_3_SCSI
                        MENUITEM SEPARATOR
                        MENUITEM "E&mpty",IDM_CDROM_3_EMPTY
                        MENUITEM "&Reload previous disc",IDM_CDROM_3_RELOAD
                        MENUITEM SEPARATOR
	                POPUP "&IDE channel..."
			BEGIN
                        	MENUITEM "&C:",IDM_CDROM_3_C
                        	MENUITEM "&D:",IDM_CDROM_3_D
                        	MENUITEM "&E:",IDM_CDROM_3_E
                        	MENUITEM "&F:",IDM_CDROM_3_F
                        	MENUITEM "&G:",IDM_CDROM_3_G
                        	MENUITEM "&H:",IDM_CDROM_3_H
                        	MENUITEM "&I:",IDM_CDROM_3_I
                        	MENUITEM "&J:",IDM_CDROM_3_J
			END
	                POPUP "S&CSI ID..."
			BEGIN
                        	MENUITEM "&0",IDM_CDROM_3_0
                        	MENUITEM "&1",IDM_CDROM_3_1
                        	MENUITEM "&2",IDM_CDROM_3_2
                        	MENUITEM "&3",IDM_CDROM_3_3
                        	MENUITEM "&4",IDM_CDROM_3_4
                        	MENUITEM "&5",IDM_CDROM_3_5
                        	MENUITEM "&6",IDM_CDROM_3_6
                        	MENUITEM "&8",IDM_CDROM_3_8
                        	MENUITEM "&9",IDM_CDROM_3_9
                        	MENUITEM "10",IDM_CDROM_3_10
                        	MENUITEM "11",IDM_CDROM_3_11
                        	MENUITEM "12",IDM_CDROM_3_12
                        	MENUITEM "13",IDM_CDROM_3_13
                        	MENUITEM "14",IDM_CDROM_3_14
                        	MENUITEM "15",IDM_CDROM_3_15
			END
                        MENUITEM SEPARATOR
                        MENUITEM "&ISO...",IDM_CDROM_3_ISO
                END
                POPUP "CD-RO&M 4"
                BEGIN
                        MENUITEM "&Enabled", IDM_CDROM_4_ENABLED
                        MENUITEM "S&ound enabled", IDM_CDROM_4_SOUND_ON
                        MENUITEM SEPARATOR
                        MENUITEM "&SCSI", IDM_CDROM_4_SCSI
                        MENUITEM "E&mpty",IDM_CDROM_4_EMPTY
                        MENUITEM "&Reload previous disc",IDM_CDROM_4_RELOAD
                        MENUITEM SEPARATOR
	                POPUP "&IDE channel..."
			BEGIN
                        	MENUITEM "&C:",IDM_CDROM_4_C
                        	MENUITEM "&D:",IDM_CDROM_4_D
                        	MENUITEM "&E:",IDM_CDROM_4_E
                        	MENUITEM "&F:",IDM_CDROM_4_F
                        	MENUITEM "&G:",IDM_CDROM_4_G
                        	MENUITEM "&H:",IDM_CDROM_4_H
                        	MENUITEM "&I:",IDM_CDROM_4_I
                        	MENUITEM "&J:",IDM_CDROM_4_J
			END
	                POPUP "S&CSI ID..."
			BEGIN
                        	MENUITEM "&0",IDM_CDROM_4_0
                        	MENUITEM "&1",IDM_CDROM_4_1
                        	MENUITEM "&2",IDM_CDROM_4_2
                        	MENUITEM "&3",IDM_CDROM_4_3
                        	MENUITEM "&4",IDM_CDROM_4_4
                        	MENUITEM "&5",IDM_CDROM_4_5
                        	MENUITEM "&6",IDM_CDROM_4_6
                        	MENUITEM "&8",IDM_CDROM_4_8
                        	MENUITEM "&9",IDM_CDROM_4_9
                        	MENUITEM "10",IDM_CDROM_4_10
                        	MENUITEM "11",IDM_CDROM_4_11
                        	MENUITEM "12",IDM_CDROM_4_12
                        	MENUITEM "13",IDM_CDROM_4_13
                        	MENUITEM "14",IDM_CDROM_4_14
                        	MENUITEM "15",IDM_CDROM_4_15
			END
                        MENUITEM SEPARATOR
                        MENUITEM "&ISO...",IDM_CDROM_4_ISO
                END
                POPUP "E&xtra IDE controllers"
		BEGIN
                        POPUP "&Tertiary IDE controller"
                        BEGIN
	                        MENUITEM "&Enabled",IDM_IDE_TER_ENABLED
				MENUITEM SEPARATOR
                                MENUITEM "&9",IDM_IDE_TER_IRQ9
                                MENUITEM "1&0",IDM_IDE_TER_IRQ10
                                MENUITEM "1&1",IDM_IDE_TER_IRQ11
                                MENUITEM "1&2",IDM_IDE_TER_IRQ12
                                MENUITEM "1&4",IDM_IDE_TER_IRQ14
                                MENUITEM "1&5",IDM_IDE_TER_IRQ15
                        END
                        POPUP "&Quaternary IDE controller"
                        BEGIN
	                        MENUITEM "&Enabled",IDM_IDE_QUA_ENABLED
				MENUITEM SEPARATOR
                                MENUITEM "&9",IDM_IDE_QUA_IRQ9
                                MENUITEM "1&0",IDM_IDE_QUA_IRQ10
                                MENUITEM "1&1",IDM_IDE_QUA_IRQ11
                                MENUITEM "1&2",IDM_IDE_QUA_IRQ12
                                MENUITEM "1&4",IDM_IDE_QUA_IRQ14
                                MENUITEM "1&5",IDM_IDE_QUA_IRQ15
                        END
		END
                POPUP "&SCSI controller"
                BEGIN
                        MENUITEM "&Enabled",IDM_SCSI_ENABLED
                        POPUP "&Model"
                        BEGIN
                                MENUITEM "&Adaptec AHA-154x",IDM_SCSI_MODEL0
                                MENUITEM "&BusLogic BT-542B",IDM_SCSI_MODEL1
                        END
                        POPUP "&Base address"
                        BEGIN
                                MENUITEM "0x&130",IDM_SCSI_BASE130
                                MENUITEM "0x13&4",IDM_SCSI_BASE134
                                MENUITEM "0x&230",IDM_SCSI_BASE230
                                MENUITEM "0&x234",IDM_SCSI_BASE234
                                MENUITEM "0x33&0",IDM_SCSI_BASE330
                                MENUITEM "&0x334",IDM_SCSI_BASE334
                        END
                        POPUP "&IRQ"
                        BEGIN
                                MENUITEM "&9",IDM_SCSI_IRQ9
                                MENUITEM "1&0",IDM_SCSI_IRQ10
                                MENUITEM "1&1",IDM_SCSI_IRQ11
                                MENUITEM "1&2",IDM_SCSI_IRQ12
                                MENUITEM "1&4",IDM_SCSI_IRQ14
                                MENUITEM "1&5",IDM_SCSI_IRQ15
                        END
                        POPUP "&DMA channel"
                        BEGIN
                                MENUITEM "&5",IDM_SCSI_DMA5
                                MENUITEM "&6",IDM_SCSI_DMA6
                                MENUITEM "&7",IDM_SCSI_DMA7
                        END
                END
        END
        POPUP "&Settings"
        BEGIN
                MENUITEM "&Configure...", IDM_CONFIG
                MENUITEM "&Load configuration...", IDM_CONFIG_LOAD
                MENUITEM "&Save configuration...", IDM_CONFIG_SAVE
                MENUITEM SEPARATOR
                POPUP "&Video"
                BEGIN
                        MENUITEM "&Resizeable window",IDM_VID_RESIZE
                        MENUITEM "R&emember size && position",IDM_VID_REMEMBER
                        MENUITEM SEPARATOR
                        MENUITEM "&DirectDraw", IDM_VID_DDRAW
                        MENUITEM "Direct&3D 9",   IDM_VID_D3D
                        MENUITEM SEPARATOR
                        MENUITEM "&Fullscreen", IDM_VID_FULLSCREEN
                        POPUP "Fullscreen &stretch mode"
                        BEGIN
                                MENUITEM "&Full screen stretch", IDM_VID_FS_FULL
                                MENUITEM "&4:3", IDM_VID_FS_43
                                MENUITEM "&Square pixels", IDM_VID_FS_SQ
                                MENUITEM "&Integer scale", IDM_VID_FS_INT
                        END
                        MENUITEM SEPARATOR
                        MENUITEM "F&orce 4:3 display ratio", IDM_VID_FORCE43
                        MENUITEM "E&GA/(S)VGA overscan", IDM_VID_OVERSCAN
                        MENUITEM SEPARATOR
                        MENUITEM "D&isc activity flash", IDM_VID_FLASH
                        MENUITEM SEPARATOR
                        MENUITEM "Take s&creenshot\tCtrl+F11", IDM_VID_SCREENSHOT
                END
                MENUITEM "&Status", IDM_STATUS
        END
END

MainAccel ACCELERATORS
BEGIN
        VK_F11,  IDM_VID_SCREENSHOT,  CONTROL, VIRTKEY
        VK_F12,  IDM_FILE_RESET_CAD,  CONTROL, VIRTKEY
END

ConfigureDlg DIALOGEX 0, 0, 252+40, 236+80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure 86Box"
FONT 9, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,64,292,50,14, WS_TABSTOP
    PUSHBUTTON      "Cancel",IDCANCEL,128,292,50,14, WS_TABSTOP
    COMBOBOX        IDC_COMBO1,62,16,157,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_CONFIGUREMOD, 224, 16, 40, 14, WS_TABSTOP
    COMBOBOX        IDC_COMBOVID,62,36,157,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_CONFIGUREVID, 224, 36, 40, 14, WS_TABSTOP
    COMBOBOX        IDC_COMBOCPUM,62,56,157,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO3,62,76,102,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Dynamic Recompiler",IDC_CHECKDYNAREC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,169,76,99,10
    COMBOBOX        IDC_COMBOWS, 62,96,157,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBOSPD,62,116,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBOSND,162,116,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_CONFIGURESND, 224, 116, 40, 14, WS_TABSTOP
    EDITTEXT        IDC_MEMTEXT, 62, 136, 36, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_MEMSPIN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 98, 136, 12, 14
    LTEXT           "MB", IDC_TEXT_MB, 98, 136, 10, 10
    CONTROL         "CMS / Game Blaster",IDC_CHECK3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,192,102,10
    CONTROL         "Gravis Ultrasound",IDC_CHECKGUS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,208,102,10    

    CONTROL         "Innovation SSI-2001",IDC_CHECKSSI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,118,192,102,10
    CONTROL         "Enable time sync",IDC_CHECKSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,118,208,102,10

    CONTROL         "Voodoo Graphics",IDC_CHECKVOODOO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,118,224,102,10
    PUSHBUTTON      "Configure", IDC_CONFIGUREVOODOO, 224, 224, 40, 14, WS_TABSTOP

    LTEXT           "Mouse :",IDC_STATIC,15,240,40,10
    COMBOBOX        IDC_COMBOMOUSE,62,240,157,120,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Joystick :",IDC_STATIC,15,260,40,10
    COMBOBOX        IDC_COMBOJOY,62,260,157,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Joystick 1...",IDC_JOY1,16,276,50,14, WS_TABSTOP
    PUSHBUTTON      "Joystick 2...",IDC_JOY2,80,276,50,14, WS_TABSTOP
    DEFPUSHBUTTON   "Joystick 3...",IDC_JOY3,144,276,50,14, WS_TABSTOP
    PUSHBUTTON      "Joystick 4...",IDC_JOY4,208,276,50,14, WS_TABSTOP

    LTEXT           "Machine :",IDC_STATIC,15,16,40,10
    LTEXT           "Video :",IDC_STATIC,15,36,34,10
    LTEXT           "CPU type :",IDC_STATIC,15,56,34,10
    LTEXT           "CPU :",IDC_STATIC,15,76,34,10
    LTEXT           "Waitstates :",IDC_STATIC,15,96,40,10
    LTEXT           "Vid. speed :",IDC_STATIC,15,116,40,10    
    LTEXT           "Soundcard:",IDC_STATIC,125,116,34,10
    LTEXT           "Network  :",IDC_STATIC,125,136,34,10
    COMBOBOX        IDC_COMBONET,162,136,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_CONFIGURENET, 224, 136, 40, 14, WS_TABSTOP
    LTEXT           "Memory :",IDC_STATIC,15,136,40,10
    LTEXT           "FDD 1 :",IDC_STATIC,15,156,40,10
    LTEXT           "FDD 2 :",IDC_STATIC,125,156,40,10
    COMBOBOX        IDC_COMBODR1,62,156,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBODR2,162,156,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "FDD 3 :",IDC_STATIC,15,176,40,10
    LTEXT           "FDD 4 :",IDC_STATIC,125,176,40,10
    COMBOBOX        IDC_COMBODR3,62,176,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBODR4,162,176,57,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

HdConfDlg DIALOGEX 0, 0, 270, DLG_HEIGHT
 STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION "Configure Hard Discs"
 FONT 9, "Segoe UI"
 BEGIN
    DEFPUSHBUTTON   "OK",IDOK,31+12,CMD_BASE,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,101+12,CMD_BASE,50,14

    LTEXT           "C:",IDC_STATIC,7,C_BASE+2,27,10
    EDITTEXT        IDC_EDIT_C_FN, 7+16, C_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_CFILE,7 + 136,      C_BASE, 16, 14
    PUSHBUTTON      "New",IDC_CNEW,7 + 152, C_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTC, 7 + 176, C_BASE, 24, 14
    EDITTEXT        IDC_EDIT_C_SPT,15,C_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_C_HPC,48,C_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_C_CYL,81,C_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,C_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,C_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,C_BASE+18,8,12
    LTEXT           "", IDC_TEXT_C_SIZE, 118, C_BASE+18, 89, 12

    LTEXT           "D:",IDC_STATIC,7,D_BASE+2,27,10
    EDITTEXT        IDC_EDIT_D_FN, 7+16, D_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_DFILE,7 + 136,      D_BASE, 16, 14
    PUSHBUTTON      "New",IDC_DNEW,7 + 152, D_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTD, 7 + 176, D_BASE, 24, 14
    EDITTEXT        IDC_EDIT_D_SPT,15,D_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_D_HPC,48,D_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_D_CYL,81,D_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,D_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,D_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,D_BASE+18,8,12
    LTEXT           "", IDC_TEXT_D_SIZE, 118, D_BASE+18, 89, 12

    LTEXT           "E:",IDC_STATIC,7,E_BASE+2,27,10
    EDITTEXT        IDC_EDIT_E_FN, 7+16, E_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_EFILE,7 + 136,      E_BASE, 16, 14
    PUSHBUTTON      "New",IDC_ENEW,7 + 152, E_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTE, 7 + 176, E_BASE, 24, 14
    EDITTEXT        IDC_EDIT_E_SPT,15,E_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_E_HPC,48,E_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_E_CYL,81,E_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,E_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,E_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,E_BASE+18,8,12
    LTEXT           "", IDC_TEXT_E_SIZE, 118, E_BASE+18, 89, 12

    LTEXT           "F:",IDC_STATIC,7,F_BASE+2,27,10
    EDITTEXT        IDC_EDIT_F_FN, 7+16, F_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_FFILE,7 + 136,      F_BASE, 16, 14
    PUSHBUTTON      "New",IDC_FNEW,7 + 152, F_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTF, 7 + 176, F_BASE, 24, 14
    EDITTEXT        IDC_EDIT_F_SPT,15,F_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_F_HPC,48,F_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_F_CYL,81,F_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,F_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,F_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,F_BASE+18,8,12
    LTEXT           "", IDC_TEXT_F_SIZE, 118, F_BASE+18, 89, 12

    LTEXT           "G:",IDC_STATIC,7,G_BASE+2,27,10
    EDITTEXT        IDC_EDIT_G_FN, 7+16, G_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_GFILE,7 + 136,      G_BASE, 16, 14
    PUSHBUTTON      "New",IDC_GNEW,7 + 152, G_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTG, 7 + 176, G_BASE, 24, 14
    EDITTEXT        IDC_EDIT_G_SPT,15,G_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_G_HPC,48,G_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_G_CYL,81,G_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,G_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,G_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,G_BASE+18,8,12
    LTEXT           "", IDC_TEXT_G_SIZE, 118, G_BASE+18, 89, 12

    LTEXT           "H:",IDC_STATIC,7,H_BASE+2,27,10
    EDITTEXT        IDC_EDIT_H_FN, 7+16, H_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_HFILE,7 + 136,      H_BASE, 16, 14
    PUSHBUTTON      "New",IDC_HNEW,7 + 152, H_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTH, 7 + 176, H_BASE, 24, 14
    EDITTEXT        IDC_EDIT_H_SPT,15,H_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_H_HPC,48,H_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_H_CYL,81,H_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,H_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,H_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,H_BASE+18,8,12
    LTEXT           "", IDC_TEXT_H_SIZE, 118, H_BASE+18, 89, 12

    LTEXT           "I:",IDC_STATIC,7,I_BASE+2,27,10
    EDITTEXT        IDC_EDIT_I_FN, 7+16, I_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_IFILE,7 + 136,      I_BASE, 16, 14
    PUSHBUTTON      "New",IDC_INEW,7 + 152, I_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTI, 7 + 176, I_BASE, 24, 14
    EDITTEXT        IDC_EDIT_I_SPT,15,I_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_I_HPC,48,I_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_I_CYL,81,I_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,I_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,I_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,I_BASE+18,8,12
    LTEXT           "", IDC_TEXT_I_SIZE, 118, I_BASE+18, 89, 12

    LTEXT           "J:",IDC_STATIC,7,J_BASE+2,27,10
    EDITTEXT        IDC_EDIT_J_FN, 7+16, J_BASE, 120, 12, WS_DISABLED
    PUSHBUTTON      "...",IDC_JFILE,7 + 136,      J_BASE, 16, 14
    PUSHBUTTON      "New",IDC_JNEW,7 + 152, J_BASE, 24, 14
    PUSHBUTTON      "Eject", IDC_EJECTJ, 7 + 176, J_BASE, 24, 14
    EDITTEXT        IDC_EDIT_J_SPT,15,J_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_J_HPC,48,J_BASE+16,16,12, WS_DISABLED
    EDITTEXT        IDC_EDIT_J_CYL,81,J_BASE+16,28,12, WS_DISABLED
    LTEXT           "S:",IDC_STATIC,7,J_BASE+18,8,12
    LTEXT           "H:",IDC_STATIC,40,J_BASE+18,8,12
    LTEXT           "C:",IDC_STATIC,73,J_BASE+18,8,12
    LTEXT           "", IDC_TEXT_J_SIZE, 118, J_BASE+18, 89, 12

END

HdNewDlg DIALOGEX 0, 0, 216, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Hard Disc"
FONT 9, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,31,66,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,101,66,50,14
    
    EDITTEXT        IDC_EDITC, 7, 6, 187, 12
    PUSHBUTTON      "...",IDC_CFILE,7 + 187,      6, 16, 14
    
    EDITTEXT        IDC_EDIT1,36,22,16,12
    EDITTEXT        IDC_EDIT2,94,22,16,12
    EDITTEXT        IDC_EDIT3,152,22,28,12
    EDITTEXT        IDC_EDIT4,36,38,28,12
    COMBOBOX        IDC_COMBOHDT,117,38,93,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Sectors:",IDC_STATIC,7,23,27,10
    LTEXT           "Heads:",IDC_STATIC,63,23,29,8
    LTEXT           "Cylinders:",IDC_STATIC,120,23,32,12
    LTEXT           "Size:",IDC_STATIC,7,39,17,8
    LTEXT           "MB",IDC_STATIC,68,39,10,8
    LTEXT           "Type:",IDC_STATIC,94,39,17,8
END

HdSizeDlg DIALOGEX 0, 0, 216, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hard disc parameters"
FONT 9, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,31,66,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,101,66,50,14
    
    LTEXT           "Initial settings are based on file size (header if HDI)",IDC_STATIC,7,6,200,10
    
    EDITTEXT        IDC_EDIT1,36,22,16,12
    EDITTEXT        IDC_EDIT2,94,22,16,12
    EDITTEXT        IDC_EDIT3,152,22,28,12
    EDITTEXT        IDC_EDIT4,36,38,28,12
    COMBOBOX        IDC_COMBOHDT,117,38,93,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Sectors:",IDC_STATIC,7,23,27,10
    LTEXT           "Heads:",IDC_STATIC,63,23,29,8
    LTEXT           "Cylinders:",IDC_STATIC,120,23,32,12
    LTEXT           "Size:",IDC_STATIC,7,39,17,8
    LTEXT           "MB",IDC_STATIC,68,39,10,8
    LTEXT           "Type:",IDC_STATIC,94,39,17,8
END

StatusDlg DIALOGEX 0,0,186,186+20+180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Status"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "1",IDC_STEXT_DEVICE,16,16,180,1000
    LTEXT           "1",IDC_STEXT1,16,186,180,1000
END

1 24 "86Box.manifest"

/* Icon by Devcore - https://commons.wikimedia.org/wiki/File:Icon_PC2_256x256.png */
100 ICON "86Box.ico"
