////////////////////////////////////////////////////////////////////////////
// Finnish resources

#ifdef _WIN32
LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE
BEGIN
    POPUP "&Toiminto"
    BEGIN
        MENUITEM "&Vaadi näppäimistön kaappaus",                        IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "&Oikea CTRL on vasen ALT",                            IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Uudelleenkäynnistys (kylmä)...",                     IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",                             IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
    MENUITEM "Ctrl+Alt+&Esc",                                           IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Tauko",                                              IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "&Poistu...",                                          IDM_ACTION_EXIT
    END
    POPUP "&Näytä"
    BEGIN
        MENUITEM "&Piilota tilapalkki",                                 IDM_VID_HIDE_STATUS_BAR
        MENUITEM "Piilota &työkalupalkki",                              IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "&Salli koon muuttaminen",                             IDM_VID_RESIZE
        MENUITEM "&Muista koko ja sijainti",                            IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Renderöijä"
        BEGIN
            MENUITEM "&SDL (ohjelmistopohjainen)",                      IDM_VID_SDL_SW
            MENUITEM "SDL (&laitteistokiihdytetty)",                    IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",                                   IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (3.0 Core)",                              IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                                            IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "&Määritä koko...",                                    IDM_VID_SPECIFY_DIM
        MENUITEM "Pakota 4:3-näyttösuhde",                              IDM_VID_FORCE43
        POPUP "&Ikkunan kokokerroin"
        BEGIN
            MENUITEM "&0.5x",                                           IDM_VID_SCALE_1X
            MENUITEM "&1x",                                             IDM_VID_SCALE_2X
            MENUITEM "1.&5x",                                           IDM_VID_SCALE_3X
            MENUITEM "&2x",                                             IDM_VID_SCALE_4X
        END
        POPUP "&Suodatusmetodi"
        BEGIN
            MENUITEM "&Lähin naapuri",                                  IDM_VID_FILTER_NEAREST
            MENUITEM "Li&neaarinen interpolaatio",                      IDM_VID_FILTER_LINEAR
        END
        MENUITEM "&Suuri DPI-skaalaus",                                 IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Koko näytön tila\tCtrl+Alt+PgUp",                  IDM_VID_FULLSCREEN
        POPUP "Koko näytön &skaalaustila"
        BEGIN
            MENUITEM "&Venytä koko näyttöön",                           IDM_VID_FS_FULL
            MENUITEM "&4:3",                                            IDM_VID_FS_43
            MENUITEM "&Tasasivuiset kuvapisteet (säilytä kuvasuhde)",   IDM_VID_FS_KEEPRATIO
            MENUITEM "&Kokonaislukuskaalaus",                           IDM_VID_FS_INT
        END
        POPUP "&EGA/(S)VGA-asetukset"
        BEGIN
            MENUITEM "&VGA-näyttö käänteisillä väreillä",               IDM_VID_INVERT
            POPUP "VGA-näytön &tyyppi"
            BEGIN
                MENUITEM "RGB, &värit",                                 IDM_VID_GRAY_RGB
                MENUITEM "&RGB, harmaasävy",                            IDM_VID_GRAY_MONO
                MENUITEM "&Meripihkanvärinen",                          IDM_VID_GRAY_AMBER
                MENUITEM "V&ihreä",                                     IDM_VID_GRAY_GREEN
                MENUITEM "V&alkoinen",                                  IDM_VID_GRAY_WHITE
            END
            POPUP "&Harmaasävymuunnoksen tyyppi"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",                           IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",                               IDM_VID_GRAYCT_709
                MENUITEM "&Keskiarvo",                                  IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "CGA/PCjr/Tandy/E&GA/(S)VGA &yliskannaus",             IDM_VID_OVERSCAN
        MENUITEM "&Muuta harmaavärinäytön kontrastia",                  IDM_VID_CGACON
    END
    MENUITEM "&Media",                                                  IDM_MEDIA
    POPUP "Työ&kalut"
    BEGIN
        MENUITEM "&Kokoonpano...",                                      IDM_CONFIG
        MENUITEM "&Päivitä tilapalkin kuvakkeita",                      IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "Ota &kuvakaappaus\tCtrl+F11",                         IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Sovellusasetukset...",                               IDM_PREFERENCES
        MENUITEM "Käytä &Discord-integraatiota",                        IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "&Äänitasot...",                                       IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Aloita jäljitys\tCtrl+T",                             IDM_ACTION_BEGIN_TRACE
        MENUITEM "Lopeta jäljitys\tCtrl+T",                             IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&Ohje"
    BEGIN
        MENUITEM "&Ohjekirja...",                                       IDM_DOCS
        MENUITEM "&Tietoja 86Boxista...",                               IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Uusi kasettikuva...",                                IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Olemassaoleva kasettikuva...",                       IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Olemassaoleva kasettikuva (&kirjoitussuojattu)...",   IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Nauhoita",                                           IDM_CASSETTE_RECORD
        MENUITEM "&Toista",                                             IDM_CASSETTE_PLAY
        MENUITEM "Kelaa &alkuun",                                       IDM_CASSETTE_REWIND
        MENUITEM "Kelaa &loppuun",                                      IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "&Poista kasettipesästä",                              IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&ROM-moduulikuva...",                                 IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Irrota",                                             IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Uusi levykekuva...",                                 IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Olemassaoleva levykekuva...",                        IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Olemassaoleva levykekuva (&kirjoitussuojattu)...",    IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Vie 86F-tiedostoon...",                              IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "&Poista asemasta",                                    IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Mykistä",                                            IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Tyhjä",                                              IDM_CDROM_EMPTY
        MENUITEM "&Lataa edellinen levykuva uudelleen",                 IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "L&evykuva",                                           IDM_CDROM_IMAGE
        MENUITEM "&Kansio",						IDM_CDROM_DIR
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Uusi levykuva...",                                   IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Olemassaoleva levykuva...",                          IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Olemassaoleva levykuva (&kirjoitussuojattu)...",      IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Poista asemasta",                                    IDM_ZIP_EJECT
        MENUITEM "&Lataa edellinen levykuva uudelleen",                 IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Uusi levykuva...",                                   IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Olemassaoleva levykuva...",                          IDM_MO_IMAGE_EXISTING
        MENUITEM "Olemassaoleva levykuva (&kirjoitussuojattu)...",      IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Poista asemasta",                                    IDM_MO_EJECT
        MENUITEM "&Lataa edellinen levykuva uudelleen",                 IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "&Kuvataajuustavoite"
    BEGIN
        MENUITEM "&Synkronisoi videoon",        IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 ruutua/s",                IDM_VID_GL_FPS_25
        MENUITEM "&30 ruutua/s",                IDM_VID_GL_FPS_30
        MENUITEM "&50 ruutua/s",                IDM_VID_GL_FPS_50
        MENUITEM "&60 ruutua/s",                IDM_VID_GL_FPS_60
        MENUITEM "&75 ruutua/s",                IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync",                          IDM_VID_GL_VSYNC
    MENUITEM "Valitse varjostin&ohjelma...",    IDM_VID_GL_SHADER
    MENUITEM "&Poista varjostinohjelma",        IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES     "Sovellusasetukset"
#define STR_SND_GAIN        "Äänen taso"
#define STR_NEW_FLOPPY      "Uusi levykuva"
#define STR_CONFIG          "Kokoonpano"
#define STR_SPECIFY_DIM     "Määritä pääikkunan koko"

#define STR_OK              "OK"
#define STR_CANCEL          "Peruuta"
#define STR_GLOBAL          "Tallenna nämä asetukset &globaaleiksi oletuksiksi"
#define STR_DEFAULT         "&Oletus"
#define STR_LANGUAGE        "Kieli:"
#define STR_ICONSET         "Kuvakkeet:"

#define STR_GAIN            "Taso"

#define STR_FILE_NAME       "Tiedostonimi:"
#define STR_DISK_SIZE       "Levyn koko:"
#define STR_RPM_MODE        "Kierroslukutila:"
#define STR_PROGRESS        "Edistyminen:"

#define STR_WIDTH           "Leveys:"
#define STR_HEIGHT          "Korkeus:"
#define STR_LOCK_TO_SIZE    "Lukitse tähän kokoon"

#define STR_MACHINE_TYPE    "Tietokoneen tyyppi:"
#define STR_MACHINE         "Tietokone:"
#define STR_CONFIGURE       "Määritys"
#define STR_CPU_TYPE        "Suorittimen tyyppi:"
#define STR_CPU_SPEED       "Nopeus:"
#define STR_FPU             "Apusuoritin:"
#define STR_WAIT_STATES     "Odotustilat:"
#define STR_MB              "Mt"
#define STR_MEMORY          "Muisti:"
#define STR_TIME_SYNC       "Kellon synkronointi"
#define STR_DISABLED        "Ei käytössä"
#define STR_ENABLED_LOCAL   "Käytössä (paikallinen)"
#define STR_ENABLED_UTC     "Käytössä (UTC)"
#define STR_DYNAREC         "Dynaaminen uudelleenkääntäjä"

#define STR_VIDEO           "Näytönohjain:"
#define STR_VOODOO          "Voodoo-grafiikkasuoritin"
#define STR_IBM8514	    "IBM 8514/a-grafiikkasuoritin"
#define STR_XGA             "XGA-grafiikkasuoritin"

#define STR_MOUSE           "Hiiri:"
#define STR_JOYSTICK        "Peliohjain:"
#define STR_JOY1            "Peliohjain 1..."
#define STR_JOY2            "Peliohjain 2..."
#define STR_JOY3            "Peliohjain 3..."
#define STR_JOY4            "Peliohjain 4..."

#define STR_SOUND           "Äänikortti:"
#define STR_MIDI_OUT        "MIDI-ulostulo:"
#define STR_MIDI_IN         "MIDI-sisääntulo:"
#define STR_MPU401          "Erillinen MPU-401"
#define STR_SSI             "Innovation SSI-2001"
#define STR_CMS             "CMS / Game Blaster"
#define STR_GUS             "Gravis Ultrasound"
#define STR_FLOAT           "Käytä FLOAT32-ääntä"
#define STR_FM_DRIVER       "FM-syntetisaattoriohjain"
#define STR_FM_DRV_NUKED    "Nuked (tarkempi)"
#define STR_FM_DRV_YMFM     "YMFM (nopeampi)"

#define STR_NET_TYPE        "Verkon tyyppi:"
#define STR_PCAP            "PCap-laite:"
#define STR_NET             "Verkkokortti:"

#define STR_COM1            "COM1-laite:"
#define STR_COM2            "COM2-laite:"
#define STR_COM3            "COM3-laite:"
#define STR_COM4            "COM4-laite:"
#define STR_LPT1            "LPT1-laite:"
#define STR_LPT2            "LPT2-laite:"
#define STR_LPT3            "LPT3-laite:"
#define STR_LPT4            "LPT4-laite:"
#define STR_SERIAL1         "Sarjaportti 1"
#define STR_SERIAL2         "Sarjaportti 2"
#define STR_SERIAL3         "Sarjaportti 3"
#define STR_SERIAL4         "Sarjaportti 4"
#define STR_PARALLEL1       "Rinnakkaisportti 1"
#define STR_PARALLEL2       "Rinnakkaisportti 2"
#define STR_PARALLEL3       "Rinnakkaisportti 3"
#define STR_PARALLEL4       "Rinnakkaisportti 4"

#define STR_HDC             "Kiintolevyohjain:"
#define STR_FDC             "Levykeohjain:"
#define STR_IDE_TER         "Kolmas IDE-ohjain"
#define STR_IDE_QUA         "Neljäs IDE-ohjain"
#define STR_SCSI            "SCSI"
#define STR_SCSI_1          "Ohjain 1:"
#define STR_SCSI_2          "Ohjain 2:"
#define STR_SCSI_3          "Ohjain 3:"
#define STR_SCSI_4          "Ohjain 4:"
#define STR_CASSETTE        "Kasettiasema"

#define STR_HDD             "Kiintolevyt:"
#define STR_NEW             "&Uusi..."
#define STR_EXISTING        "&Olemassaoleva..."
#define STR_REMOVE          "&Poista"
#define STR_BUS             "Väylä:"
#define STR_CHANNEL         "Kanava:"
#define STR_ID              "ID:"

#define STR_SPECIFY         "&Määritä..."
#define STR_SECTORS         "Sektorit:"
#define STR_HEADS           "Lukupäät:"
#define STR_CYLS            "Sylinterit:"
#define STR_SIZE_MB         "Koko (Mt):"
#define STR_TYPE            "Tyyppi:"
#define STR_IMG_FORMAT      "Tiedostomuoto:"
#define STR_BLOCK_SIZE      "Lohkon koko:"

#define STR_FLOPPY_DRIVES   "Levykeasemat:"
#define STR_TURBO           "Turbo-ajoitukset"
#define STR_CHECKBPB        "Tarkista BPB"
#define STR_CDROM_DRIVES    "CD-ROM-asemat:"
#define STR_CD_SPEED        "Nopeus:"
#define STR_EARLY           "Aiemmat asemat"

#define STR_MO_DRIVES       "Magneettisoptiset asemat (MO):"
#define STR_ZIP_DRIVES      "ZIP-asemat:"
#define STR_250             "ZIP 250"

#define STR_ISARTC          "ISA-RTC (kello):"
#define STR_ISAMEM          "ISA-muistilaajennus"
#define STR_ISAMEM_1        "Kortti 1:"
#define STR_ISAMEM_2        "Kortti 2:"
#define STR_ISAMEM_3        "Kortti 3:"
#define STR_ISAMEM_4        "Kortti 4:"
#define STR_BUGGER          "ISABugger-laite"
#define STR_POSTCARD        "POST-kortti"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    2048    "86Box"
    IDS_2049    "Virhe"
    IDS_2050    "Vakava virhe"
    IDS_2051    " - TAUKO"
    IDS_2052    "Paina Ctrl+Alt+PgDn palataksesi ikkunoituun tilaan."
    IDS_2053    "Nopeus"
    IDS_2054    "ZIP %03i %i (%s): %ls"
    IDS_2055    "ZIP-levykuvat (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056    "86Box ei löytänyt käyttökelpoisia ROM-tiedostoja.\n\nVoit <a href=""https://github.com/86Box/roms/releases/latest"">ladata</a> ROM-paketin ja purkaa sen ""roms""-hakemistoon."
    IDS_2057    "(tyhjä)"
    IDS_2058    "ZIP-levykuvat (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2059    "Turbo"
    IDS_2060    "Päällä"
    IDS_2061    "Pois"
    IDS_2062    "Kaikki levykuvat (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Perussektorilevykuvat (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Pintalevykuvat (*.86F)\0*.86F\0"
    IDS_2063    "Konetta ""%hs"" ei voi käyttää puuttuvien ROM-tiedostojen vuoksi. Vaihdetaan käyttökelpoiseen koneeseen."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_2064    "Näytönohjainta ""%hs"" ei voi käyttää puuttuvien ROM-tiedostojen vuoksi. Vaihdetaan käyttökelpoiseen näytönohjaimeen."
    IDS_2065    "Tietokone"
    IDS_2066    "Näyttö"
    IDS_2067    "Syöttölaitteet"
    IDS_2068    "Ääni"
    IDS_2069    "Verkko"
    IDS_2070    "Portit (COM & LPT)"
    IDS_2071    "Tallennusohjaimet"
    IDS_2072    "Kiintolevyt"
    IDS_2073    "Levyke ja CD-ROM"
    IDS_2074    "Muut tallennuslaitteet"
    IDS_2075    "Muut oheislaitteet"
    IDS_2076    "Pintalevykuvat (*.86F)\0*.86F\0"
    IDS_2077    "Kaappaa hiiri klikkaamalla"
    IDS_2078    "Paina F8+F12 vapauttaaksesi hiiren"
    IDS_2079    "Paina F8+F12 tai keskipainiketta vapauttaaksesi hiiren"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_2080    "FluidSynthin alustus epäonnistui"
    IDS_2081    "Väylä"
    IDS_2082    "Tiedosto"
    IDS_2083    "C"
    IDS_2084    "H"
    IDS_2085    "S"
    IDS_2086    "Mt"
    IDS_2087    "Tarkista BPB"
    IDS_2088    "kt"
    IDS_2089    "Videorenderöijän alustus epäonnistui"
    IDS_2090    "Oletus"
    IDS_2091    "%i odotustilaa"
    IDS_2092    "Tyyppi"
    IDS_2093    "PCap-asennus epäonnistui"
    IDS_2094    "PCap-laitteita ei löytynyt"
    IDS_2095    "Virheellinen PCap-laite"
    IDS_2096    "Standardi 2-painikkeinen peliohjain/-ohjaimet"
    IDS_2097    "Standardi 4-painikkeinen peliohjain"
    IDS_2098    "Standardi 6-painikkeinen peliohjain"
    IDS_2099    "Standardi 8-painikkeinen peliohjain"
    IDS_2100    "CH Flightstick Pro"
    IDS_2101    "Microsoft SideWinder Pad"
    IDS_2102    "Thrustmaster Flight Control System"
    IDS_2103    "Ei mikään"
    IDS_2104    "Näppäinkiihdyttimien lataus epäonnistui"
    IDS_2105    "Raakasyötteen rekisteröinti epäonnistui"
    IDS_2106    "%u"
    IDS_2107    "%u Mt (CHS: %i, %i, %i)"
    IDS_2108    "Levyke %i (%s): %ls"
    IDS_2109    "Kaikki levykuvat (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Kehittyneet sektorilevykuvat (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Perussektorilevykuvat (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Flux-levykuvat (*.FDI)\0*.FDI\0Pintalevykuvat (*.86F;*.MFM)\0*.86F;*.MFM\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2110    "FreeType:n alustus epäonnistui"
    IDS_2111    "SDL:n alustus epäonnistui. Tarvitaan SDL2.dll"
    IDS_2112    "Haluatko varmasti käynnistää emuloidun tietokoneen uudelleen?"
    IDS_2113    "Haluatko varmasti sulkea 86Boxin?"
    IDS_2114    "Ghostscriptin alustus epäonnistui"
    IDS_2115    "MO %i (%ls): %ls"
    IDS_2116    "MO-levykuvat (*.IM?;*.MDI)\0*.IM?;*.MDI\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2117    "Tervetuloa 86Boxiin!"
    IDS_2118    "Sisäinen ohjain"
    IDS_2119    "Poistu"
    IDS_2120    "ROM-tiedostoja ei löytynyt"
    IDS_2121    "Tallennetaanko asetukset?"
    IDS_2122    "Tämä käynnistää emuloidun tietokoneen uudelleen."
    IDS_2123    "Tallenna"
    IDS_2124    "Tietoja 86Box:sta"
    IDS_2125    "86Box v" EMU_VERSION

    IDS_2126    "Vanhojen tietokoneiden emulaattori\n\nTekijät: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho ja muut.\n\nJulkaistu GNU General Public License 2. version tai myöhemmän alaisena. Tarkempia tietoja LICENSE-tiedostossa."
    IDS_2127    "OK"
    IDS_2128    "Laitteisto ei ole saatavilla"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129    "Varmista, että " LIB_NAME_PCAP " on asennettu ja että verkkoyhteytesi on " LIB_NAME_PCAP "-yhteensopiva."
    IDS_2130    "Virheelliset määritykset"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131    LIB_NAME_FREETYPE " vaaditaan ESC/P-tulostimen emuloimiseksi."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132    LIB_NAME_GS " vaaditaan PostScript-tiedostojen automaattiseen muuntamiseen PDF-tiedostoiksi.\n\nKaikki geneeriselle PostScript-tulostimelle lähetetyt asiakirjat tallennetaan PostScript (.ps) -tiedostoina."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133    LIB_NAME_FLUIDSYNTH " vaaditaan FluidSynth MIDI-ulostuloa varten."
    IDS_2134    "Siirrytään koko näytön tilaan"
    IDS_2135    "Älä näytä tätä viestiä uudelleen"
    IDS_2136    "Älä poistu"
    IDS_2137    "Käynnistä uudelleen"
    IDS_2138    "Älä käynnistä uudelleen"
    IDS_2139    "MO-levykuvat (*.IM?;*.MDI)\0*.IM?;*.MDI\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2140    "CD-ROM-levykuvat (*.ISO;*.CUE)\0*.ISO;*.CUE\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2141    "%hs - Laitteen määritykset"
    IDS_2142    "Näyttö lepotilassa"
    IDS_2143    "OpenGL-varjostinohjelmat (*.GLSL)\0*.GLSL\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2144    "OpenGL-asetukset"
    IDS_2145    "Olet lataamassa ei-tuettuja määrittelyjä"
    IDS_2146    "Valittuun tietokoneeseen perustuva suoritintyypin suodatus ei ole käytössä tällä emuloidulla koneella.\n\nTämä mahdollistaa muutoin yhteensopimattoman suorittimen valinnan kyseisen tietokoneen kanssa. Voit kuitenkin kohdata ongelmia tietokoneen BIOS:in tai muun ohjelmiston kanssa.\n\nTämän asetuksen käyttö ei ole virallisesti tuettua ja kaikki tehdyt virheraportit voidaan sulkea epäpätevinä."
    IDS_2147    "Jatka"
    IDS_2148    "Kasetti: %s"
    IDS_2149    "Kasettitiedostot (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2150    "ROM-moduuli %i: %ls"
    IDS_2151    "ROM-moduulikuvat (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_2152	"Virhe renderöijän alustuksessa"
    IDS_2153	"OpenGL (3.0 Core) -renderöijän alustus epäonnistui. Käytä toista renderöijää."
    IDS_2154	"Jatka suoritusta"
    IDS_2155	"Pysäytä suoritus"
    IDS_2156	"Paina Ctrl+Alt+Del"
    IDS_2157	"Paina Ctrl+Alt+Esc"
    IDS_2158	"Kylmä uudelleenkäynnistys"
    IDS_2159	"ACPI-sammutus"
    IDS_2160	"Asetukset"
    IDS_2161    "Aiemmat asemat"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_4096    "Kiintolevy (%s)"
    IDS_4097    "%01i:%01i"
    IDS_4098    "%01i"
    IDS_4099    "MFM/RLL- tai ESDI-CD-ROM-asemia ei ole koskaan ollut olemassa"
    IDS_4100    "Mukautettu..."
    IDS_4101    "Mukautettu (suuri)..."
    IDS_4102    "Lisää uusi kiintolevy"
    IDS_4103    "Lisää olemassaoleva kiintolevy"
    IDS_4104    "HDI-levykuvan suurin mahdollinen koko on 4 Gt."
    IDS_4105    "Levykuvien suurin mahdollinen koko on 127 Gt."
    IDS_4106    "Kiintolevykuvat (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_4107    "Tiedostoa ei voi lukea"
    IDS_4108    "Tiedostoon ei voi kirjoittaa"
    IDS_4109    "HDI- ja HDX-levykuvien ainoa tuettu sektorikoko on 512"
    IDS_4110    "USB-tukea ei vielä ole"
    IDS_4111    "Levykuva on jo olemassa"
    IDS_4112    "Anna kelvollinen tiedostonimi."
    IDS_4113    "Levykuva luotu"
    IDS_4114    "Varmista, että tiedosto on olemassa ja lukukelpoinen"
    IDS_4115    "Varmista, että tiedoston tallennuskansioon on kirjoitusoikeus"
    IDS_4116    "Liian suuri levykuva"
    IDS_4117    "Muista osioida ja alustaa juuri luomasi asema."
    IDS_4118    "Valittu tiedosto korvataan. Oletko varma, että haluat käyttää sitä?"
    IDS_4119    "Levykuvaa ei tueta"
    IDS_4120    "Korvaa"
    IDS_4121    "Älä korvaa"
    IDS_4122    "Raaka levykuva (.img)"
    IDS_4123    "HDI-levykuva (.hdi)"
    IDS_4124    "HDX-levykuva (.hdx)"
    IDS_4125    "Kiinteä VHD (.vhd)"
    IDS_4126    "Dynaaminen VHD (.vhd)"
    IDS_4127    "Differentiaalinen VHD (.vhd)"
    IDS_4128    "Suuret lohkot (2 Mt)"
    IDS_4129    "Pienet lohkot (512 kt)"
    IDS_4130    "VHD-tiedostot (*.VHD)\0*.VHD\0Kaikki tiedostot (*.*)\0*.*\0"
    IDS_4131    "Valitse ylätason VHD"
    IDS_4132    "Tämä saattaa tarkoittaa, että ylätason levykuvaa on muokattu differentiaalisen levykuvan luonnin jälkeen.\n\nNäin voi käydä myös, jos levykuvatiedostoja on siirretty tai kopioitu. Lisäksi syynä voi olla levyn luoneessa sovelluksessa oleva ohjelmistovirhe.\n\nKorjataanko aikaleimat?"
    IDS_4133    "Ylä- ja alatason levyjen aikaleimat eivät täsmää"
    IDS_4134    "VHD aikaleimaa ei pystytty korjaamaan."
    IDS_4135    "%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608    "MFM/RLL (%01i:%01i)"
    IDS_4609    "XTA (%01i:%01i)"
    IDS_4610    "ESDI (%01i:%01i)"
    IDS_4611    "IDE (%01i:%01i)"
    IDS_4612    "ATAPI (%01i:%01i)"
    IDS_4613    "SCSI (%01i:%02i)"

    IDS_5120    "CD-ROM %i (%s): %s"

    IDS_5376    "Ei käytössä"
    IDS_5381    "ATAPI"
    IDS_5382    "SCSI"

    IDS_5632    "Ei käytössä"
    IDS_5637    "ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888    "160 kt"
    IDS_5889    "180 kt"
    IDS_5890    "320 kt"
    IDS_5891    "360 kt"
    IDS_5892    "640 kt"
    IDS_5893    "720 kt"
    IDS_5894    "1.2 Mt"
    IDS_5895    "1.25 Mt"
    IDS_5896    "1.44 Mt"
    IDS_5897    "DMF (lohko 1024)"
    IDS_5898    "DMF (lohko 2048)"
    IDS_5899    "2.88 Mt"
    IDS_5900    "ZIP 100"
    IDS_5901    "ZIP 250"
    IDS_5902    "3.5"" 128 Mt (ISO 10090)"
    IDS_5903    "3.5"" 230 Mt (ISO 13963)"
    IDS_5904    "3.5"" 540 Mt (ISO 15498)"
    IDS_5905    "3.5"" 640 Mt (ISO 15498)"
    IDS_5906    "3.5"" 1.3 Gt (GigaMO)"
    IDS_5907    "3.5"" 2.3 Gt (GigaMO 2)"
    IDS_5908    "5.25"" 600 Mt"
    IDS_5909    "5.25"" 650 Mt"
    IDS_5910    "5.25"" 1 Gt"
    IDS_5911    "5.25"" 1.3 Gt"

    IDS_6144    "Täydellinen RPM"
    IDS_6145    "1% alle täydellisen RPM:n"
    IDS_6146    "1.5% alle täydellisen RPM:n"
    IDS_6147    "2% alle täydellisen RPM:n"

    IDS_7168    "(Järjestelmän oletus)"
END
#define IDS_LANG_ENUS    IDS_7168

// English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
