////////////////////////////////////////////////////////////////////////////
// Croatian (hr-HR) resources

#ifdef _WIN32
LANGUAGE LANG_CROATIAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Radnje"
    BEGIN
        MENUITEM "&Tipkovnica zahtijeva hvatanje miša",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "&Desni CTRL je lijevi ALT",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Ponovno pokretanje...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Pauza",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "Iz&laz...",                       IDM_ACTION_EXIT
    END
    POPUP "&Pogled"
    BEGIN
        MENUITEM "&Sakrij statusni redak",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM "&Sakrij alatni redak",		IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "&Prozor s promjenjivim veličinama",          IDM_VID_RESIZE
        MENUITEM "&Zapamtite veličinu i položaj",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Renderer"
        BEGIN
            MENUITEM "&SDL (Softver)",         IDM_VID_SDL_SW
            MENUITEM "SDL (&Hardver)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (3.0 jezgra)",      IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "Odrediti veličinu...",          IDM_VID_SPECIFY_DIM
        MENUITEM "&4:3 omjer prikaza",    IDM_VID_FORCE43
        POPUP "&Faktor skaliranja prozora"
        BEGIN
            MENUITEM "&0,5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1,&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "Metoda filtriranja"
        BEGIN
            MENUITEM "&Najbliža",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Linearna",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "&HiDPI skaliranje",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Cijelozaslonski način\tCtrl+Alt+PgUp",    IDM_VID_FULLSCREEN
        POPUP "&Način cijelozaslonskog rastezanja"
        BEGIN
            MENUITEM "&Razvuci na cijeli zaslona",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "&Kvadratni pikseli (zadrži omjer)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Cijelobrojno skaliranje",              IDM_VID_FS_INT
        END
        POPUP "E&GA/(S)VGA postavke"
        BEGIN
            MENUITEM "&Obrni boje zaslona VGA",   IDM_VID_INVERT
            POPUP "&Tip zaslona VGA"
            BEGIN
                MENUITEM "RGB u &boji",          IDM_VID_GRAY_RGB
                MENUITEM "&RGB u nijansama sive boje",      IDM_VID_GRAY_MONO
                MENUITEM "&Jantarni zaslon",      IDM_VID_GRAY_AMBER
                MENUITEM "&Zeleni zaslon",      IDM_VID_GRAY_GREEN
                MENUITEM "&Bijeli zaslon",      IDM_VID_GRAY_WHITE
            END
            POPUP "&Vrsta konverzije nijansa sive boje"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&Prosjek",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "&Višak slike CGA/PCjr/Tandy/EGA/(S)VGA",     IDM_VID_OVERSCAN
        MENUITEM "&Promjeni kontrast za crno-bijeli zaslon", IDM_VID_CGACON
    END
    MENUITEM "&Mediji",				IDM_MEDIA
    POPUP "&Alati"
    BEGIN
        MENUITEM "&Opcije...",                IDM_CONFIG
        MENUITEM "&Ažuriraj ikone statusnog redka",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "Napravi &snimku zaslona\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Postavke...",    IDM_PREFERENCES
        MENUITEM "Omogući integraciju sa programom &Discord", IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "&Pojačanje zvuka...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Z&apočni praćenje\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "&Svrši praćenje\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&Pomoć"
    BEGIN
        MENUITEM "&Dokumentacija...",           IDM_DOCS
        MENUITEM "&O programu 86Box...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća slika...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Postojeća slika (&zaštićena od pisanja)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Snimi",					IDM_CASSETTE_RECORD
        MENUITEM "&Pokreni",					IDM_CASSETTE_PLAY
        MENUITEM "P&remotaj na početak",			IDM_CASSETTE_REWIND
        MENUITEM "&Preskoči do kraja",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Slika...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća slika...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Postojeća slika (&zaštićena od pisanja)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izvozi u 86F...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Isključi zvuk",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Prazno",					IDM_CDROM_EMPTY
        MENUITEM "&Ponovo učitaj prethodnu sliku",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Slika",					IDM_CDROM_IMAGE
        MENUITEM "&Mapa",					IDM_CDROM_DIR
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća slika...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Postojeća slika (&zaštićena od pisanja)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_ZIP_EJECT
        MENUITEM "&Ponovo učitaj prethodnu sliku",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća slika...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Postojeća slika (&zaštićena od pisanja)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_MO_EJECT
        MENUITEM "&Ponovo učitaj prethodnu sliku",			IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "&Ciljni broj okvira u sekundi"
    BEGIN
        MENUITEM "&Sinkroniziraj s videom", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 fps", IDM_VID_GL_FPS_25
        MENUITEM "&30 fps", IDM_VID_GL_FPS_30
        MENUITEM "&50 fps", IDM_VID_GL_FPS_50
        MENUITEM "&60 fps", IDM_VID_GL_FPS_60
        MENUITEM "&75 fps", IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync", IDM_VID_GL_VSYNC
    MENUITEM "&Odaberi shader...", IDM_VID_GL_SHADER
    MENUITEM "&Ukloni shader", IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES		"Postavke"
#define STR_SND_GAIN		"Pojačavanje zvuka"
#define STR_NEW_FLOPPY		"Nova slika"
#define STR_CONFIG		"Opcije"
#define STR_SPECIFY_DIM		"Odredite glavne dimenzije prozora"

#define STR_OK			"U redu"
#define STR_CANCEL		"Otkaži"
#define STR_GLOBAL		"Spremite ove postavke kao &globalne zadane postavke"
#define STR_DEFAULT		"Zadano"
#define STR_LANGUAGE		"Jezik:"
#define STR_ICONSET		"Paket ikona:"

#define STR_GAIN		"Pojačavanje"

#define STR_FILE_NAME		"Ime datoteke:"
#define STR_DISK_SIZE		"Veličina diska:"
#define STR_RPM_MODE		"Način broja okretaja:"
#define STR_PROGRESS		"Napredak:"

#define STR_WIDTH		"Širina:"
#define STR_HEIGHT		"Visina:"
#define STR_LOCK_TO_SIZE	"Zaključajte na ovu veličinu"

#define STR_MACHINE_TYPE	"Tip sistema:"
#define STR_MACHINE		"Sistem:"
#define STR_CONFIGURE		"Namjesti"
#define STR_CPU_TYPE		"Tip procesora:"
#define STR_CPU_SPEED		"Brzina:"
#define STR_FPU			"FPU uređaj:"
#define STR_WAIT_STATES		"Stanja čekanja:"
#define STR_MB			"MB"
#define STR_MEMORY		"Memorija:"
#define STR_TIME_SYNC		"Sinkronizacija vremena"
#define STR_DISABLED		"Isključeno"
#define STR_ENABLED_LOCAL	"Uključeno (lokalno vrijeme)"
#define STR_ENABLED_UTC		"Uključeno (UTC)"
#define STR_DYNAREC		"Dinamički rekompilator"

#define STR_VIDEO		"Video:"
#define STR_VOODOO		"Voodoo grafika"
#define STR_IBM8514		"IBM 8514/a grafika"
#define STR_XGA			"XGA grafika"

#define STR_MOUSE		"Miš:"
#define STR_JOYSTICK		"Palica za igru:"
#define STR_JOY1		"Palica za igru 1..."
#define STR_JOY2		"Palica za igru 2..."
#define STR_JOY3		"Palica za igru 3..."
#define STR_JOY4		"Palica za igru 4..."

#define STR_SOUND		"Zvučna kartica:"
#define STR_MIDI_OUT		"Izlazni uređaj MIDI:"
#define STR_MIDI_IN		"Ulazni uređaj MIDI:"
#define STR_MPU401		"Samostalni MPU-401"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"Koristi FLOAT32 za zvuk"
#define STR_FM_DRIVER		"Drajver za FM sintisajzer"
#define STR_FM_DRV_NUKED	"Nuked (precizniji)"
#define STR_FM_DRV_YMFM		"YMFM (brži)"

#define STR_NET_TYPE		"Tip mreže:"
#define STR_PCAP		"Uređaj PCap:"
#define STR_NET			"Mrežna kartica:"

#define STR_COM1		"Uređaj COM1:"
#define STR_COM2		"Uređaj COM2:"
#define STR_COM3		"Uređaj COM3:"
#define STR_COM4		"Uređaj COM4:"
#define STR_LPT1		"Uređaj LPT1:"
#define STR_LPT2		"Uređaj LPT2:"
#define STR_LPT3		"Uređaj LPT3:"
#define STR_LPT4		"Uređaj LPT4:"
#define STR_SERIAL1		"Serijska vrata 1"
#define STR_SERIAL2		"Serijska vrata 2"
#define STR_SERIAL3		"Serijska vrata 3"
#define STR_SERIAL4		"Serijska vrata 4"
#define STR_PARALLEL1		"Paralelna vrata 1"
#define STR_PARALLEL2		"Paralelna vrata 2"
#define STR_PARALLEL3		"Paralelna vrata 3"
#define STR_PARALLEL4		"Paralelna vrata 4"

#define STR_HDC			"Kontroler tvrdog diska:"
#define STR_FDC			"Kontroler diskete:"
#define STR_IDE_TER		"Tercijarni IDE kontroler"
#define STR_IDE_QUA		"Kvaternarni IDE kontroler"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Kontroler 1:"
#define STR_SCSI_2		"Kontroler 2:"
#define STR_SCSI_3		"Kontroler 3:"
#define STR_SCSI_4		"Kontroler 4:"
#define STR_CASSETTE		"Audio kaseta"

#define STR_HDD			"Tvrdi diskovi:"
#define STR_NEW			"&Novi..."
#define STR_EXISTING		"&Postojeći..."
#define STR_REMOVE		"&Ukloni"
#define STR_BUS			"Sabirnica:"
#define STR_CHANNEL		"Kanal:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"&Odredi..."
#define STR_SECTORS		"Sektori:"
#define STR_HEADS		"Glave:"
#define STR_CYLS		"Cilindri:"
#define STR_SIZE_MB		"Veličina (MB):"
#define STR_TYPE		"Tip:"
#define STR_IMG_FORMAT		"Format slike:"
#define STR_BLOCK_SIZE		"Veličina slike:"

#define STR_FLOPPY_DRIVES	"Disketni pogoni:"
#define STR_TURBO		"Turbo vrijemena"
#define STR_CHECKBPB		"Provjeraj BPB"
#define STR_CDROM_DRIVES	"CD-ROM pogoni:"
#define STR_CD_SPEED		"Brzina:"
#define STR_EARLY		"Raniji pogon"

#define STR_MO_DRIVES		"MO pogoni:"
#define STR_ZIP_DRIVES		"ZIP pogoni:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"Sat stvarnog vremena (RTC):"
#define STR_ISAMEM		"Proširenje memorije ISA"
#define STR_ISAMEM_1		"Kartica 1:"
#define STR_ISAMEM_2		"Kartica 2:"
#define STR_ISAMEM_3		"Kartica 3:"
#define STR_ISAMEM_4		"Kartica 4:"
#define STR_BUGGER		"Uređaj ISABugger"
#define STR_POSTCARD		"Kartica POST"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Greška"
    IDS_2050	"Fatalna greška"
    IDS_2051	" - PAUSED"
    IDS_2052	"Pritisnite Ctrl+Alt+PgDn za povratak u prozorski način rada."
    IDS_2053	"Brzina"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"ZIP slike (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"86Box nije mogao pronaći upotrebljive ROM datoteke.\n\nMolimte posjetite <a href=""https://github.com/86Box/roms/releases/latest""></a> sknite paket s ROM datotekama i ekstrahirajte paket u ""roms"" mapu."
    IDS_2057	"(prazno)"
    IDS_2058	"ZIP slike (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Sve datoteke (*.*)\0*.*\0"
    IDS_2059	"Turbo"
    IDS_2060	"Uključeno"
    IDS_2061	"Isključeno"
    IDS_2062	"Sve slike (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0BOsnovne sektorske slike (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Površinske slike (*.86F)\0*.86F\0"
    IDS_2063	"Sistem ""%hs"" nije dostupan jer ne postoje potrebni ROM-ovi u mapu roms/machines. Prebacivanje na dostupno računalo."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"Video kartica ""%hs"" nije dostupna jer ne postoje potrebni ROM-ovi u mapu roms/video. Prebacivanje na dostupnu video karticu."
    IDS_2065	"Sistem"
    IDS_2066	"Video"
    IDS_2067	"Ulazni uređaji"
    IDS_2068	"Zvuk"
    IDS_2069	"Mreža"
    IDS_2070	"Vrata (COM & LPT)"
    IDS_2071	"Kontroleri za diskove"
    IDS_2072	"Tvrdi diskovi"
    IDS_2073	"Floppy & CD-ROM pogoni"
    IDS_2074	"Ostali uklonjivi uređaji"
    IDS_2075	"Ostali periferni uređaji"
    IDS_2076	"Površinske slike (*.86F)\0*.86F\0"
    IDS_2077	"Kliknite da uhvatite miš"
    IDS_2078	"Pritisnite F8+F12 za otpustanje miša"
    IDS_2079	"Pritisnite F8+F12 ili srednji gumb miša za otpuštanje miša"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Nije moguće inicijalizirati FluidSynth"
    IDS_2081	"Bus"
    IDS_2082	"Datoteka"
    IDS_2083	"C"
    IDS_2084	"H"
    IDS_2085	"S"
    IDS_2086	"MB"
    IDS_2087	"Provjeri BPB"
    IDS_2088	"KB"
    IDS_2089	"Nije moguće inicijalizirati renderer."
    IDS_2090	"Standard"
    IDS_2091	"%i stanje čekanja"
    IDS_2092	"Tip"
    IDS_2093	"Postavljanje PCap-a nije uspjelo"
    IDS_2094	"Nema PCap uređaja"
    IDS_2095	"Nevažeći PCap uređaj"
    IDS_2096	"Standardna palica za igru s 2 tipke"
    IDS_2097	"Standardna palica za igru s 4 tipke"
    IDS_2098	"Standardna palica za igru s 6 tipke"
    IDS_2099	"Standardna palica za igru s 8 tipke"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Bez"
    IDS_2104	"Nije moguće učitati ubrzivače tipkovnice."
    IDS_2105	"Nije moguće registrirati neobrađeni unos."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Disketa %i (%s): %ls"
    IDS_2109	"Sve slike (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Napredne sektorske slike (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Osnovne sektorske slike (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Flux slike (*.FDI)\0*.FDI\0Površinske slike (*.86F;*.MFM)\0*.86F;*.MFM\0Sve datoteke (*.*)\0*.*\0"
    IDS_2110	"Nije moguće inicijalizirati FreeType"
    IDS_2111	"Nije moguće inicijalizirati SDL, SDL2.dll je potrebno"
    IDS_2112	"Jeste li sigurni da želite hard resetirati emulirani sistem?"
    IDS_2113	"Jeste li sigurni da želite zatvoriti 86Box?"
    IDS_2114	"Nije moguće inicijalizirati GhostScript"
    IDS_2115	"MO %i (%ls): %ls"
    IDS_2116	"MO slike (*.IM?;*.MDI)\0*.IM?;*.MDI\0Svi datoteke (*.*)\0*.*\0"
    IDS_2117	"Dobrodošli u 86Box!"
    IDS_2118	"Uunutarnji kontroler"
    IDS_2119	"Izlazi"
    IDS_2120	"Nisu pronađene ROM datoteke"
    IDS_2121	"Želite li spremiti postavke?"
    IDS_2122	"Ovo će napraviti hard resetiranje emuliranog sistema."
    IDS_2123	"Spremaj"
    IDS_2124	"O programu 86Box"
    IDS_2125	"86Box verzija " EMU_VERSION

    IDS_2126	"Emulator starih računala\n\nAutori: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho, i drugi.\n\nPreveo: dob205\n\nObjavljeno pod licencom GNU General Public License, verzija 2 ili novije. Za više informacija pogledajte datoteku LICENCE."
    IDS_2127	"U redu"
    IDS_2128	"Hardver nije dostupan"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Provjerite je li " LIB_NAME_PCAP " instaliran i jeste li na mreži, kompadibilnoj s " LIB_NAME_PCAP "."
    IDS_2130	"Nevažeća konfiguracija"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " je potrebno za emuliranje ESC/P pisača."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " je potrebno za automatsku konverziju PostScript datoteke u PDF datoteke.\n\nSvi dokumenti poslani na generički PostScript pisač bit će spremljeni kao PostScript (.ps) datoteke."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " je potrebno za FluidSynth MIDI izlaz."
    IDS_2134	"Ulazim u cijelozaslonski način"
    IDS_2135	"Ne pokazi više ovu poruku"
    IDS_2136	"Ne izlazi"
    IDS_2137	"Resetiraj"
    IDS_2138	"Ne resetiraj"
    IDS_2139	"MO slike (*.IM?;*.MDI)\0*.IM?;*.MDI\0Sve datoteke (*.*)\0*.*\0"
    IDS_2140	"CD-ROM slike (*.ISO;*.CUE)\0*.ISO;*.CUE\0Sve datoteke (*.*)\0*.*\0"
    IDS_2141	"Konfiguracija uređaja %hs "
    IDS_2142    "Ekran u stanju mirovanja"
    IDS_2143	"OpenGL shaderi (*.GLSL)\0*.GLSL\0Sve datoteke (*.*)\0*.*\0"
    IDS_2144	"OpenGL opcije"
    IDS_2145	"Učitavate nepodržanu konfiguraciju"
    IDS_2146	"Filtriranje tipa CPU-a na temelju odabranog sistema onemogućeno je za ovaj emulirani sistem.\n\nOvo omogućuje odabir procesora koji inače nisu kompatibilne s odabranog sistem. Međutim, možete naići na na nekompatibilnosti s BIOS-om sustava ili drugim softverom.\n\nOmogućavanje ove postavke nije službeno podržano i sva prijava o greškama mogu biti zatvorena kao ""invalid""."
    IDS_2147	"Nastavi"
    IDS_2148	"Audio kaseta: %s"
    IDS_2149	"Slike audio kasete (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Sve datoteke (*.*)\0*.*\0"
    IDS_2150	"Kaseta %i: %ls"
    IDS_2151	"Slike kasete (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Sve datoteke (*.*)\0*.*\0"
    IDS_2152	"Nije moguće inicijalizirati renderer"
    IDS_2153	"Nije moguće inicijalizirati OpenGL (3.0 jezgra) renderer. Molimte koristite drugi renderer."
    IDS_2154	"Nastavi"
    IDS_2155	"Pauziraj"
    IDS_2156	"Stisni Ctrl+Alt+Del"
    IDS_2157	"Stisni Ctrl+Alt+Esc"
    IDS_2158	"Ponovno pokretanje"
    IDS_2159	"ACPI bazirano gašenje"
    IDS_2160	"Postavke"
    IDS_2161    "Raniji pogon"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Tvrdi disk (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"MFM/RLL ili ESDI CD-ROM pogoni nisu nikada postojali"
    IDS_4100	"Prilagođeno..."
    IDS_4101	"Prilagođeno (veliko)..."
    IDS_4102	"Dodajte novi tvrdi disk"
    IDS_4103	"Dodajte postojeći tvrdi disk"
    IDS_4104	"HDI disk image datoteke ne mogu biti veće od 4 GB."
    IDS_4105	"Slike tvrdog diska ne mogu biti veće od 127 GB."
    IDS_4106	"Slike za tvrde diskove (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Sve datoteke (*.*)\0*.*\0"
    IDS_4107	"Nije moguće pročitati datoteku"
    IDS_4108	"Nije moguće napisati datoteku"
    IDS_4109	"HDI ili HDX slike s veličinom sektora koja nije 512 kB nisu podržane."
    IDS_4110	"USB nije još podržano"
    IDS_4111	"Slika diska već postoji"
    IDS_4112	"Molimte unesite važeći naziv datoteke."
    IDS_4113	"Slika je stvorena"
    IDS_4114	"Provjerite je li postoji datoteka i je li čitljiva."
    IDS_4115	"Provjerite je li se datoteka sprema u mapu s dopuštenjima za pisanje."
    IDS_4116	"Slika diska je prevelika"
    IDS_4117	"Ne zaboravite stvoriti particije i formatirati ih na novom disku."
    IDS_4118	"Odabrana datoteka bit će prebrisana. Jeste li sigurni da želite koristiti ovu daoteku?"
    IDS_4119	"Nepodržana slika diska"
    IDS_4120	"Prepiši"
    IDS_4121	"Ne prepiši"
    IDS_4122	"Slika neobrađenih podataka (.img)"
    IDS_4123	"HDI slika (.hdi)"
    IDS_4124	"HDX slika (.hdx)"
    IDS_4125	"VHD fiksne veličine (.vhd)"
    IDS_4126	"VHD dinamičke veličine (.vhd)"
    IDS_4127	"Različiti VHD (.vhd)"
    IDS_4128	"Veliki blokovi (2 MB)"
    IDS_4129	"Mali blokovi (512 KB)"
    IDS_4130	"VHD slike (*.VHD)\0*.VHD\0Sve datoteke (*.*)\0*.*\0"
    IDS_4131	"Izaberi matičnu sliku VHD"
    IDS_4132	"To bi moglo značiti da je matična slika promijenjena nakon što je stvorena različita slika.\n\nTo se također može dogoditi ako su slike premještene ili kopirane, ili greška u programu koji je stvorio ovaj disk.\n\nŽelite li popraviti vremenske oznake?"
    IDS_4133	"Vremenske ozanke matične i poređenog diska ne odgovaraju."
    IDS_4134	"Ne mogu popraviti vremensku oznaku slike VHD."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Deaktivirano"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Deaktivirano"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1,2 MB"
    IDS_5895	"1,25 MB"
    IDS_5896	"1,44 MB"
    IDS_5897	"DMF (1024 clusteri)"
    IDS_5898	"DMF (2048 clusteri)"
    IDS_5899	"2,88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3,5"" 128 MB (ISO 10090)"
    IDS_5903	"3,5"" 230 MB (ISO 13963)"
    IDS_5904	"3,5"" 540 MB (ISO 15498)"
    IDS_5905	"3,5"" 640 MB (ISO 15498)"
    IDS_5906	"3,5"" 1.3 GB (GigaMO)"
    IDS_5907	"3,5"" 2.3 GB (GigaMO 2)"
    IDS_5908	"5,25"" 600 MB"
    IDS_5909	"5,25"" 650 MB"
    IDS_5910	"5,25"" 1 GB"
    IDS_5911	"5,25"" 1.3 GB"

    IDS_6144	"Savršeni broj okretaja u minuti"
    IDS_6145	"1% ispod savršenog broja okretaja"
    IDS_6146	"1,5% ispod savršenog broja okretaja"
    IDS_6147	"2% ispod savršenog broja okretaja"

    IDS_7168	"(Zadana postavka operativnog sustava)"
END
#define IDS_LANG_ENUS	IDS_7168

// Croatian (hr-HR) resources
/////////////////////////////////////////////////////////////////////////////
