////////////////////////////////////////////////////////////////////////////
// Croatian (hr-HR) resources

#ifdef _WIN32
LANGUAGE LANG_CROATIAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Akcija"
    BEGIN
        MENUITEM "&Tipkovnica zahtijeva snimanje miša",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "&Desni CTRL je lijevi ALT",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Hard Reset...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Pauza",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "&Izlaz...",                       IDM_ACTION_EXIT
    END
    POPUP "&Pogled"
    BEGIN
        MENUITEM "&Sakrij statusnu traku",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM SEPARATOR
        MENUITEM "&Prozor s promjenjivim veličinama",          IDM_VID_RESIZE
        MENUITEM "&Zapamtite veličinu && poziciju",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Renderer"
        BEGIN
            MENUITEM "&SDL (Softver)",         IDM_VID_SDL_SW
            MENUITEM "SDL (&Hardver)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
#if defined(DEV_BRANCH) && defined(USE_OPENGL)
            MENUITEM "Open&GL (3.3 jezgra)",      IDM_VID_OPENGL_CORE
#endif
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "Odrediti dimenzije...",          IDM_VID_SPECIFY_DIM
        MENUITEM "&4:3 omjer prikaza",    IDM_VID_FORCE43
        POPUP "&Faktor skaliranje prozora"
        BEGIN
            MENUITEM "&0,5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1,&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "Metoda filtriranja"
        BEGIN
            MENUITEM "&Nearest",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Linear",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "&HiDPI skaliranje",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Cijeli zaslon\tCtrl+Alt+PageUP",    IDM_VID_FULLSCREEN
        POPUP "&Način rastezanja preko cijelog zaslona"
        BEGIN
            MENUITEM "&Razvlačenje preko cijelog zaslona",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "&Kvadratni pikseli (zadrži omjer)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Integer skala",              IDM_VID_FS_INT
        END
        POPUP "E&GA/(S)VGA postavke"
        BEGIN
            MENUITEM "&Invertirani VGA monitor",   IDM_VID_INVERT
            POPUP "&Tip VGA monitora"
            BEGIN
                MENUITEM "RGB &Boja",          IDM_VID_GRAY_RGB
                MENUITEM "&RGB s sivih tonova",      IDM_VID_GRAY_MONO
                MENUITEM "&Jantarni monitor",      IDM_VID_GRAY_AMBER
                MENUITEM "&Zeleni monitor",      IDM_VID_GRAY_GREEN
                MENUITEM "&Bijeli monitor",      IDM_VID_GRAY_WHITE
            END
            POPUP "&Vrsta konverzije sivih tonova"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&Prosječno",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "CGA/PCjr/Tandy/E&GA/(S)VGA overscan",     IDM_VID_OVERSCAN
        MENUITEM "Promjena kontrasta za &monokromatski ekran", IDM_VID_CGACON
    END
    MENUITEM "&Mediji",				IDM_MEDIA
    POPUP "&Alati"
    BEGIN
        MENUITEM "&Postavke...",                IDM_CONFIG
        MENUITEM "&Ažuriranje ikone statusne trake",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "&Promijeni jezik prikaza...",    IDM_VID_PROG_SETT
# ifdef USE_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "Omogući integraciju &Discord-a", IDM_DISCORD
# endif
        MENUITEM SEPARATOR
        MENUITEM "Napravite &snimku zaslona\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Pojačanje zvuka...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Započni tracing\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "Prestani tracing\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
#if defined(ENABLE_LOG_TOGGLES) || defined(ENABLE_LOG_COMMANDS)
    POPUP "&Logging"
    BEGIN
# ifdef ENABLE_BUSLOGIC_LOG
        MENUITEM "Omogući BusLogic logging\tCtrl+F4", IDM_LOG_BUSLOGIC
# endif
# ifdef ENABLE_CDROM_LOG
        MENUITEM "Omogući logging CD-ROM-a\tCtrl+F5", IDM_LOG_CDROM
# endif
# ifdef ENABLE_D86F_LOG
        MENUITEM "Omogući logging disketa (86F)\tCtrl+F6", IDM_LOG_D86F
# endif
# ifdef ENABLE_FDC_LOG
        MENUITEM "Omogući logging floppy kontrolera\tCtrl+F7", IDM_LOG_FDC
# endif
# ifdef ENABLE_IDE_LOG
        MENUITEM "Omogući IDE logging\tCtrl+F8", IDM_LOG_IDE
# endif
# ifdef ENABLE_SERIAL_LOG
        MENUITEM "Omogući logging serijskog porta\tCtrl+F3", IDM_LOG_SERIAL
# endif
# ifdef ENABLE_NIC_LOG
        MENUITEM "Omogući mrežni logging\tCtrl+F9", IDM_LOG_NIC
# endif
# ifdef ENABLE_LOG_COMMANDS
#  ifdef ENABLE_LOG_TOGGLES
	MENUITEM SEPARATOR
#  endif
#  ifdef ENABLE_LOG_BREAKPOINT
        MENUITEM "&Breakpoint za logging\tCtrl+F10", IDM_LOG_BREAKPOINT
#  endif
#  ifdef ENABLE_VRAM_DUMP
        MENUITEM "Dump od &video RAM-a\tCtrl+F1", IDM_DUMP_VRAM
#  endif
# endif
    END
#endif
    POPUP "&Pomoć"
    BEGIN
        MENUITEM "&Dokumentacija...",           IDM_DOCS
        MENUITEM "&O 86Box...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova image daoteka...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća image daoteka...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Postojeća image daoteka (&zaštićena od pisanja)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Snimi",					IDM_CASSETTE_RECORD
        MENUITEM "&Pusti",					IDM_CASSETTE_PLAY
        MENUITEM "&Premotanje na početak",			IDM_CASSETTE_REWIND
        MENUITEM "&Brzi naprijed do kraja",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Image daoteka...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova image daoteka...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća image daoteka...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Postojeća image daoteka (&zaštićena od pisanja)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Exportiraj u 86F format...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Isključi zvuk",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Prazno",					IDM_CDROM_EMPTY
        MENUITEM "&Ponovo učitaj prethodnu image daoteku",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Image daoteka",					IDM_CDROM_IMAGE
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova image daoteka...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća image daoteka...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Postojeća image daoteka (&zaštićena od pisanja)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_ZIP_EJECT
        MENUITEM "&Ponovo učitaj prethodnu image daoteku",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova image daoteka...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Postojeća image daoteka...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Postojeća image daoteka (&zaštićena od pisanja)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izbaci",					IDM_MO_EJECT
        MENUITEM "&Ponovo učitaj prethodnu image daoteku",			IDM_MO_RELOAD
    END
END

#if defined(DEV_BRANCH) && defined(USE_OPENGL)
VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "Target &framerate"
    BEGIN
        MENUITEM "&Sinkronizacija s videom", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 fps", IDM_VID_GL_FPS_25
        MENUITEM "&30 fps", IDM_VID_GL_FPS_30
        MENUITEM "&50 fps", IDM_VID_GL_FPS_50
        MENUITEM "&60 fps", IDM_VID_GL_FPS_60
        MENUITEM "&75 fps", IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync", IDM_VID_GL_VSYNC
    MENUITEM "&Odaberi shader...", IDM_VID_GL_SHADER
    MENUITEM "&Ukloni shader", IDM_VID_GL_NOSHADER
END
#endif


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PROG_SETT		"Promjena jezika prikaza"
#define STR_SND_GAIN		"Pojačavanje zvuka"
#define STR_NEW_FLOPPY		"Nova image daoteka"
#define STR_CONFIG		"86Box postavke"
#define STR_SPECIFY_DIM		"Odredite glavne dimenzije prozora"

#define STR_OK			"OK"
#define STR_CANCEL		"Odustani"
#define STR_GLOBAL		"Spremite ove postavke kao &globalne zadane postavke"
#define STR_DEFAULT		"&Standard"
#define STR_LANGUAGE		"Jezik:"
#define STR_ICONSET "Skup ikona:"

#define STR_GAIN		"Pojačavanje"

#define STR_FILE_NAME		"Ime daoteke:"
#define STR_DISK_SIZE		"Veličina diska:"
#define STR_RPM_MODE		"Način rotacije:"
#define STR_PROGRESS		"Napredak:"

#define STR_WIDTH		"Širina:"
#define STR_HEIGHT		"Visina:"
#define STR_LOCK_TO_SIZE	"Zaključajte na ovu veličinu"

#define STR_MACHINE_TYPE	"Tip računala:"
#define STR_MACHINE		"Računalo:"
#define STR_CONFIGURE		"Konfigurirajte"
#define STR_CPU_TYPE		"CPU tip:"
#define STR_SPEED		"Brzina:"
#define STR_FPU			"FPU uređaj:"
#define STR_WAIT_STATES		"Stanja čekanje:"
#define STR_MB			"MB"
#define STR_MEMORY		"Memorija:"
#define STR_TIME_SYNC		"Vremenska sinkronizacija"
#define STR_DISABLED		"Deaktivirano"
#define STR_ENABLED_LOCAL	"Uključeno (lokalno vrijeme)"
#define STR_ENABLED_UTC		"Uključeno (UTC)"
#define STR_DYNAREC		"Dinamički rekompilator"

#define STR_VIDEO		"Video kartica:"
#define STR_VOODOO		"Voodoo Graphics"

#define STR_MOUSE		"Miš:"
#define STR_JOYSTICK		"Joystick:"
#define STR_JOY1		"Joystick 1..."
#define STR_JOY2		"Joystick 2..."
#define STR_JOY3		"Joystick 3..."
#define STR_JOY4		"Joystick 4..."

#define STR_SOUND		"Sound kartica:"
#define STR_MIDI		"MIDI Out uređaj:"
#define STR_MIDI_IN		"MIDI In uređaj:"
#define STR_MPU401		"Samostalni MPU-401 uređaj"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"Koristi FLOAT32 zvuk"

#define STR_NET_TYPE		"Tip mreže:"
#define STR_PCAP		"PCap uređaj:"
#define STR_NET			"Mrežni adapter:"

#define STR_LPT1		"LPT1 uređaj:"
#define STR_LPT2		"LPT2 uređaj:"
#define STR_LPT3		"LPT3 uređaj:"
#define STR_SERIAL1		"Serijski port 1"
#define STR_SERIAL2		"Serijski port 2"
#define STR_SERIAL3		"Serijski port 3"
#define STR_SERIAL4		"Serijski port 4"
#define STR_PARALLEL1		"Paralelni priključak 1"
#define STR_PARALLEL2		"Paralelni priključak 2"
#define STR_PARALLEL3		"Paralelni priključak 3"

#define STR_HDC			"Kontroler tvrdog diska:"
#define STR_FDC			"Kontroler diskete:"
#define STR_IDE_TER		"Tercijarni IDE kontroler"
#define STR_IDE_QUA		"Kvaternarni IDE kontroler"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Kontroler 1:"
#define STR_SCSI_2		"Kontroler 2:"
#define STR_SCSI_3		"Kontroler 3:"
#define STR_SCSI_4		"Kontroler 4:"
#define STR_CASSETTE		"Audio kaseta"

#define STR_HDD			"Tvrdi diskovi:"
#define STR_NEW			"&Novo..."
#define STR_EXISTING		"&Postojeći..."
#define STR_REMOVE		"&Ukloniti"
#define STR_BUS			"Bus:"
#define STR_CHANNEL		"Kanal:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"&Izaberi..."
#define STR_SECTORS		"Sektori:"
#define STR_HEADS		"Glave:"
#define STR_CYLS		"Cilindri:"
#define STR_SIZE_MB		"Veličina (MB):"
#define STR_TYPE		"Tip:"
#define STR_IMG_FORMAT		"Format image daoteke:"
#define STR_BLOCK_SIZE		"Veličina image daoteke:"

#define STR_FLOPPY_DRIVES	"Floppy drives:"
#define STR_TURBO		"Turbo timingovi"
#define STR_CHECKBPB		"Provjerite BPB"
#define STR_CDROM_DRIVES	"CD-ROM pogoni:"

#define STR_MO_DRIVES		"MO pogoni:"
#define STR_ZIP_DRIVES		"ZIP pogoni:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"ISA RTC:"
#define STR_ISAMEM		"ISA proširenje memorije"
#define STR_ISAMEM_1		"Kartica 1:"
#define STR_ISAMEM_2		"Kartica 2:"
#define STR_ISAMEM_3		"Kartica 3:"
#define STR_ISAMEM_4		"Kartica 4:"
#define STR_BUGGER		"ISABugger uređaj"
#define STR_POSTCARD		"POST kartica"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Greška"
    IDS_2050	"Fatalna greška"
    IDS_2051	"<reserved>"
    IDS_2052	"Pritisnite CTRL+ALT+PAGE DOWN za povratak u prozorski način rada."
    IDS_2053	"Brzina"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"ZIP image daoteke (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"86Box could not find any usable ROM images.\n\nPlease <a href=""https://github.com/86Box/roms/releases/latest"">download</a> a ROM set and extract it into the ""roms"" directory."
    IDS_2057	"(prazno)"
    IDS_2058	"ZIP image daoteke (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Svi daoteke (*.*)\0*.*\0"
    IDS_2059	"Turbo"
    IDS_2060	"Uključeno"
    IDS_2061	"Isključeno"
    IDS_2062	"Svi image daoteke (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Bazni sektorni image daoteke (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Površne image daoteke (*.86F)\0*.86F\0"
    IDS_2063	"Računalo ""%hs"" nije dostupan jer nedostaju ROM-ovi u mapu roms/machines. Prebacivanje na raspoloživi računalo."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"Video kartica ""%hs"" nije dostupna jer nedostaju ROM-ovi u mapu roms/video. Prebacivanje na dostupnu video karticu."
    IDS_2065	"Računalo"
    IDS_2066	"Video"
    IDS_2067	"Ulazni uređaji"
    IDS_2068	"Zvuk"
    IDS_2069	"Mreža"
    IDS_2070	"Priključci (COM & LPT)"
    IDS_2071	"Kontroleri za diskovi"
    IDS_2072	"Tvrdi diskovi"
    IDS_2073	"Floppy & CD-ROM pogoni"
    IDS_2074	"Ostali uklonjivi uređaji"
    IDS_2075	"Ostali periferni uređaji"
    IDS_2076	"Površne image daoteke (*.86F)\0*.86F\0"
    IDS_2077	"Kliknite za snimanje miša"
    IDS_2078	"Pritisnite F8+F12 za otpuštanje miša"
    IDS_2079	"Pritisnite F8+F12 ili srednji gumb za otpuštanje miša"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Nije moguće inicijalizirati FluidSynth"
    IDS_2081	"Bus"
    IDS_2082	"Daoteka"
    IDS_2083	"C"
    IDS_2084	"G"
    IDS_2085	"S"
    IDS_2086	"MB"
    IDS_2087	"Provjeri BPB"
    IDS_2088	"KB"
    IDS_2089	"Nije moguće inicijalizirati videorenderer."
    IDS_2090	"Standard"
    IDS_2091	"%i stanja čekanja"
    IDS_2092	"Tip"
    IDS_2093	"Postavljanje PCap-a nije uspjelo"
    IDS_2094	"Nema PCap uređaja"
    IDS_2095	"Nevažeći PCap uređaj"
    IDS_2096	"Standardni joystick(e) s 2 tipke"
    IDS_2097	"Standardni joystick s 4 tipke"
    IDS_2098	"Standardni joystick s 6 tipke"
    IDS_2099	"Standardni joystick s 6 tipke"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Nikakve"
    IDS_2104	"Nije moguće učitati akceleratore tipkovnice."
    IDS_2105	"Nije moguće registrirati neobrađeni unos."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Disketa %i (%s): %ls"
    IDS_2109	"Svi image daoteke (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Napredne sektorske image daoteke (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Bazni sektorni image daoteke (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Flux image daoteke (*.FDI)\0*.FDI\0Površne image daoteke (*.86F;*.MFM)\0*.86F;*.MFM\0Svi daoteke (*.*)\0*.*\0"
    IDS_2110	"Nije moguće inicijalizirati FreeType"
    IDS_2111	"Nije moguće inicijalizirati SDL, SDL2.dll je potrebno"
    IDS_2112	"Jeste li sigurni da želite hard resetirati emulirano računalo?"
    IDS_2113	"Jeste li sigurni da želite izaći iz 86Boxa?"
    IDS_2114	"Nije moguće inicijalizirati Ghostscript"
    IDS_2115	"MO %i (%ls): %ls"
    IDS_2116	"Image daoteke za MO diskovi (*.IM?;*.MDI)\0*.IM?;*.MDI\0Svi daoteke (*.*)\0*.*\0"
    IDS_2117	"Dobrodošli u 86Box!"
    IDS_2118	"Interni kontroler"
    IDS_2119	"Izlazi"
    IDS_2120	"Nisu pronađeni ROM daoteke"
    IDS_2121	"Želite li spremiti postavke?"
    IDS_2122	"Ovo će napraviti hard resetiranje emuliranog računala."
    IDS_2123	"Spremi"
    IDS_2124	"O 86Box"
    IDS_2125	"86Box verzija " EMU_VERSION

    IDS_2126	"Emulator starih računala\n\nAutori: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, MoochMcGee, reenigne, leilei, JohnElliott, greatpsycho, i drugi.\n\nPreveo: dob205\n\nObjavljeno pod GNU Općom javnom licencom, verzija 2 ili kasnije. Vidi LICENSE za više informacije."
    IDS_2127	"OK"
    IDS_2128	"Hardver nije dostupan"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Provjerite je li " LIB_NAME_PCAP " instaliran i jeste li na " LIB_NAME_PCAP "-kompatibilnoj mrežnoj vezi."
    IDS_2130	"Nevažeća konfiguracija"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " je potrebno za emuliranje ESC/P pisača."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " je potrebno za automatsku konverziju PostScript daoteke u PDF daoteke.\n\nSvi dokumenti poslani na generički PostScript pisač bit će spremljeni kao PostScript (.ps) datoteke."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " je potrebno za FluidSynth MIDI izlaz."
    IDS_2134	"Ulazak u način cijelog zaslona"
    IDS_2135	"Ne pokazi više ovu poruku"
    IDS_2136	"Ne izlazi"
    IDS_2137	"Resetiraj"
    IDS_2138	"Ne resetiraj"
    IDS_2139	"Image daoteke za MO diskovi (*.IM?;*.MDI)\0*.IM?;*.MDI\0Svi daoteke (*.*)\0*.*\0"
    IDS_2140	"Image daoteke za CD-ROM diskovi (*.ISO;*.CUE)\0*.ISO;*.CUE\0Svi daoteke (*.*)\0*.*\0"
    IDS_2141	"%hs Konfiguracija Uređaja"
    IDS_2142    "Monitor u stanju mirovanja"
    IDS_2143	"OpenGL shaderi (*.GLSL)\0*.GLSL\0Svi daoteke (*.*)\0*.*\0"
    IDS_2144	"OpenGL opcije"
    IDS_2145	"Učitavate nepodržanu konfiguraciju"
    IDS_2146	"Filtriranje tipa CPU-a na temelju odabranog stroja onemogućeno je za ovaj emuliranog računalo.\n\nOvo omogućuje odabir CPU-a koji inače nije kompatibilan s odabranog računalom. Međutim, možete naići na nekompatibilnosti s BIOS-om uređaja ili drugim softverom.\n\nOmogućavanje ove postavke nije službeno podržano i sva prijava o greškama mogu biti zatvorena kao ""invalid""."
    IDS_2147	"Nastavi"
    IDS_2148	"Audio kasete: %s"
    IDS_2149	"Image daoteke za audio kasete (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Svi daoteke (*.*)\0*.*\0"
    IDS_2150	"Kaseta %i: %ls"
    IDS_2151	"Image daoteke za kasete (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Svi daoteke (*.*)\0*.*\0"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Tvrdi disk (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"MFM/RLL ili ESDI CD-ROM drives nisu nikada postojali"
    IDS_4100	"Prilagođeno..."
    IDS_4101	"Prilagođeno (veliko)..."
    IDS_4102	"Dodajte novi tvrdi disk"
    IDS_4103	"Dodajte postojeći tvrdi disk"
    IDS_4104	"HDI disk image daoteke ne mogu biti veće od 4 GB."
    IDS_4105	"Image daoteke tvrdog diska ne mogu biti veće od 127 GB."
    IDS_4106	"Image daoteke za tvrde diskove (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Svi daoteke (*.*)\0*.*\0"
    IDS_4107	"Nije moguće pročitati datoteku"
    IDS_4108	"Nije moguće napisati datoteku"
    IDS_4109	"HDI ili HDX image daoteke s veličinom sektora koja nije 512 kB nisu podržane."
    IDS_4110	"USB nije još podržano"
    IDS_4111	"Image daoteka diska već postoji"
    IDS_4112	"Molimo unesite važeći naziv datoteke."
    IDS_4113	"Image diska je stvorena"
    IDS_4114	"Provjerite je li postoji datoteka i je li je čitljiva."
    IDS_4115	"Provjerite je li se datoteka sprema u mapu s dopuštenjima za pisanje."
    IDS_4116	"Image diska je prevelika"
    IDS_4117	"Ne zaboravite particionirati i formatirati novostvoreni tvrdi disk."
    IDS_4118	"Odabrana datoteka bit će prebrisana. Jeste li sigurni da želite koristiti ovu daoteku?"
    IDS_4119	"Nepodržana image daoteka diska"
    IDS_4120	"Prepiši"
    IDS_4121	"Ne prepiši"
    IDS_4122	"Image daoteka neobrađenih podataka (.img)"
    IDS_4123	"HDI image daoteka (.hdi)"
    IDS_4124	"HDX image daoteka (.hdx)"
    IDS_4125	"VHD fiksne veličine (.vhd)"
    IDS_4126	"VHD dinamičke veličine (.vhd)"
    IDS_4127	"Različiti VHD (.vhd)"
    IDS_4128	"Veliki blokovi (2 MB)"
    IDS_4129	"Mali blokovi (512 KB)"
    IDS_4130	"VHD image daoteke (*.VHD)\0*.VHD\0Svi daoteke (*.*)\0*.*\0"
    IDS_4131	"Izaberi matični VHD"
    IDS_4132	"To bi moglo značiti da je matična image daoteka promijenjena nakon što je stvorena različita image daoteka.\n\nTo se također može dogoditi ako su image datoteke premještene ili kopirane, ili greška u programu koji je stvorio ovaj disk.\n\nŽelite li popraviti vremenske oznake?"
    IDS_4133	"Vremenske ozanke matične i poređenog diska ne odgovaraju."
    IDS_4134	"Nisam mogao popraviti vremensku oznaku VHDa."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Deaktivirano"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Deaktivirano"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1,2 MB"
    IDS_5895	"1,25 MB"
    IDS_5896	"1,44 MB"
    IDS_5897	"DMF (1024 clusteri)"
    IDS_5898	"DMF (2048 clusteri)"
    IDS_5899	"2,88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3,5"" 128Mb M.O. (ISO 10090)"
    IDS_5903	"3,5"" 230Mb M.O. (ISO 13963)"
    IDS_5904	"3,5"" 540Mb M.O. (ISO 15498)"
    IDS_5905	"3,5"" 640Mb M.O. (ISO 15498)"
    IDS_5906	"3,5"" 1.3Gb M.O. (GigaMO)"
    IDS_5907	"3,5"" 2.3Gb M.O. (GigaMO 2)"
    IDS_5908	"5,25"" 600Mb M.O."
    IDS_5909	"5,25"" 650Mb M.O."
    IDS_5910	"5,25"" 1Gb M.O."
    IDS_5911	"5,25"" 1.3Gb M.O."

    IDS_6144	"Savršen broj okretanja"
    IDS_6145	"1%% ispod savršenog broja okretaja"
    IDS_6146	"1,5%% ispod savršenog broja okretaja"
    IDS_6147	"2%% ispod savršenog broja okretaja"

    IDS_7168	"(Standard operativnog sustava)"
END
#define IDS_LANG_ENUS	IDS_7168

// Croatian (hr-HR) resources
/////////////////////////////////////////////////////////////////////////////
