////////////////////////////////////////////////////////////////////////////
// Hungarian resources
//
// Translated by Laci bá', 2021
// 

//#define TRANSLATORS_NAME "Laci bá'"

#ifdef _WIN32
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Művelet"
    BEGIN
        MENUITEM "A &billentyűzet elfogást igényel",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "A &jobb oldali CTRL a bal ALT",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "Hardveres &újraindítás...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Szüneteltetés",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "&Kilépés...",                       IDM_ACTION_EXIT
    END
    POPUP "&Nézet"
    BEGIN
        MENUITEM "Állapotsor &elrejtése",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM "Hide &toolbar",		IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "&Átméretezhető ablak",          IDM_VID_RESIZE
        MENUITEM "Méret és pozíció &megjegyzése",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Megjelenítő"
        BEGIN
            MENUITEM "&SDL (Szoftveres)",         IDM_VID_SDL_SW
            MENUITEM "SDL (&Hardveres)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (3.0 Core)",      IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "Méretek kézi megadása...",          IDM_VID_SPECIFY_DIM
        MENUITEM "&Rögzített 4:3 képarány",    IDM_VID_FORCE43
        POPUP "&Ablak méretezési tényező"
        BEGIN
            MENUITEM "&0,5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1,&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "Szűrési mód"
        BEGIN
            MENUITEM "&Szomszédos",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Lineáris",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "Hi&DPI méretezés",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Teljes képernyő\tCtrl+Alt+PgUp",    IDM_VID_FULLSCREEN
        POPUP "Teljes képernyős &méretezés"
        BEGIN
            MENUITEM "&Nyújtás a teljes képernyőre",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "&Négyzetes képpontok (aránytartás)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Egész tényezős nagyítás",              IDM_VID_FS_INT
        END
        POPUP "E&GA/(S)VGA beállítások"
        BEGIN
            MENUITEM "&Invertált VGA kijelző",   IDM_VID_INVERT
            POPUP "VGA képernyő &típusa"
            BEGIN
                MENUITEM "RGB &színes",          IDM_VID_GRAY_RGB
                MENUITEM "&RGB szürkeárnyalatos",      IDM_VID_GRAY_MONO
                MENUITEM "&Gyömbér kijelző",      IDM_VID_GRAY_AMBER
                MENUITEM "&Zöld kijelző",      IDM_VID_GRAY_GREEN
                MENUITEM "&Fehér kijelző",      IDM_VID_GRAY_WHITE
            END
            POPUP "Szürkéskála &konzerziós eljárás"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&Átlag szerint",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "CGA/PCjr/Tandy/E&GA/(S)VGA túlpásztázás",     IDM_VID_OVERSCAN
        MENUITEM "Kontraszt illesztése &monokróm kijelzőhöz", IDM_VID_CGACON
    END
    MENUITEM "&Média",				IDM_MEDIA
    POPUP "&Eszközök"
    BEGIN
        MENUITEM "&Konfigurálás...",                IDM_CONFIG
        MENUITEM "Állapotsori ikonok &frissítése",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "&Képernyőkép készítése\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Beállítások...",    IDM_PREFERENCES
        MENUITEM "&Discord integráció engedélyezése", IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "&Hangerőszabályzó...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Nyomkövetés megkezdése\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "Nyomkövetés befejezése\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&Súgó"
    BEGIN
        MENUITEM "&Dokumentáció...",           IDM_DOCS
        MENUITEM "A 86Box &névjegye...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Új képfájl létrehozása...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "Meglévő képfájl &megnyitása...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Meglévő képfájl megnyitása (&írásvédett)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Felvétel",					IDM_CASSETTE_RECORD
        MENUITEM "&Lejátszás",					IDM_CASSETTE_PLAY
        MENUITEM "&Visszatekerés az elejére",			IDM_CASSETTE_REWIND
        MENUITEM "&Előretekerés a végére",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "&Kiadás",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Kép&fájl...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Kiadás",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Új képfájl létrehozása...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "Meglévő képfájl &megnyitása...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Meglévő képfájl megnyitása (&írásvédett)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "E&xportálás 86F formátumba...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "&Kiadás",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Némítás",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Kiadás",					IDM_CDROM_EMPTY
        MENUITEM "Előző képfájl &újratöltése",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Meglévő képfájl &megnyitása...",					IDM_CDROM_IMAGE
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Új képfájl létrehozása...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Meglévő képfájl &megnyitása...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Meglévő képfájl megnyitása (&írásvédett)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "Kiadás",					IDM_ZIP_EJECT
        MENUITEM "Előző képfájl &újratöltése",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Új képfájl létrehozása...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Meglévő képfájl &megnyitása...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Meglévő képfájl megnyitása (&írásvédett)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "Kiadás",					IDM_MO_EJECT
        MENUITEM "Előző képfájl &újratöltése",			IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "Cél &képkockasebesség"
    BEGIN
        MENUITEM "&Szinkronizálás a videóval ", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 fps", IDM_VID_GL_FPS_25
        MENUITEM "&30 fps", IDM_VID_GL_FPS_30
        MENUITEM "&50 fps", IDM_VID_GL_FPS_50
        MENUITEM "&60 fps", IDM_VID_GL_FPS_60
        MENUITEM "&75 fps", IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync", IDM_VID_GL_VSYNC
    MENUITEM "Shader &kiválasztása...", IDM_VID_GL_SHADER
    MENUITEM "Shader &eltávolítása", IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES		"Beállítások"
#define STR_SND_GAIN		"Hangerőszabályzó"
#define STR_NEW_FLOPPY		"Új képfájl létrehozása"
#define STR_CONFIG		"Konfigurálás"
#define STR_SPECIFY_DIM		"Főablak méreteinek megadása"

#define STR_OK			"OK"
#define STR_CANCEL		"Mégse"
#define STR_GLOBAL		"Beállítások mentése &globális alapértékként"
#define STR_DEFAULT		"&Alapértelmezett"
#define STR_LANGUAGE		"Nyelv:"
#define STR_ICONSET		"Ikonkészlet:"

#define STR_GAIN		"Hangerő"

#define STR_FILE_NAME		"Fájlnév:"
#define STR_DISK_SIZE		"Méret:"
#define STR_RPM_MODE		"RPM-mód:"
#define STR_PROGRESS		"Folyamat:"

#define STR_WIDTH		"Szélesség:"
#define STR_HEIGHT		"Magasság:"
#define STR_LOCK_TO_SIZE	"Rögzítés a megadott méretre"

#define STR_MACHINE_TYPE	"Géptípus:"
#define STR_MACHINE		"Számítógép:"
#define STR_CONFIGURE		"Beállítások..."
#define STR_CPU_TYPE		"Processzor:"
#define STR_CPU_SPEED		"Seb.:"
#define STR_FPU			"FPU-egység:"
#define STR_WAIT_STATES		"Várak. ciklusok:"
#define STR_MB			"MB"
#define STR_MEMORY		"Memória:"
#define STR_TIME_SYNC		"Idő szinkronizáció"
#define STR_DISABLED		"Letiltva"
#define STR_ENABLED_LOCAL	"Engedélyezve (helyi idő)"
#define STR_ENABLED_UTC		"Engedélyezve (UTC)"
#define STR_DYNAREC		"Dinamikus újrafordítás"

#define STR_VIDEO		"Videokártya:"
#define STR_VOODOO		"Voodoo-gyorsítókártya"

#define STR_MOUSE		"Egér:"
#define STR_JOYSTICK		"Játékvezérlő:"
#define STR_JOY1		"Játékvez. 1..."
#define STR_JOY2		"Játékvez. 2..."
#define STR_JOY3		"Játékvez. 3..."
#define STR_JOY4		"Játékvez. 4..."

#define STR_SOUND		"Hangkártya:"
#define STR_MIDI_OUT	"MIDI-kimenet:"
#define STR_MIDI_IN		"MIDI-bemenet:"
#define STR_MPU401		"Különálló MPU-401"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"FLOAT32 használata"

#define STR_NET_TYPE		"Hálózati típusa:"
#define STR_PCAP		"PCap eszköz:"
#define STR_NET			"Hálózati kártya:"

#define STR_COM1		"COM1 eszköz:"
#define STR_COM2		"COM2 eszköz:"
#define STR_COM3		"COM3 eszköz:"
#define STR_COM4		"COM4 eszköz:"
#define STR_LPT1		"LPT1 eszköz:"
#define STR_LPT2		"LPT2 eszköz:"
#define STR_LPT3		"LPT3 eszköz:"
#define STR_LPT4		"LPT4 eszköz:"
#define STR_SERIAL1		"Soros port 1"
#define STR_SERIAL2		"Soros port 2"
#define STR_SERIAL3		"Soros port 3"
#define STR_SERIAL4		"Soros port 4"
#define STR_PARALLEL1		"Párhuzamos port 1"
#define STR_PARALLEL2		"Párhuzamos port 2"
#define STR_PARALLEL3		"Párhuzamos port 3"
#define STR_PARALLEL4		"Párhuzamos port 4"

#define STR_HDC			"Merevl.-vezérlő:"
#define STR_FDC			"Floppy-vezérlő:"
#define STR_IDE_TER		"Harmadlagos IDE-vezérlő"
#define STR_IDE_QUA		"Negyedleges IDE-vezérlő"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Gazdaadapt. 1:"
#define STR_SCSI_2		"Gazdaadapt. 2:"
#define STR_SCSI_3		"Gazdaadapt. 3:"
#define STR_SCSI_4		"Gazdaadapt. 4:"
#define STR_CASSETTE		"Magnókazetta"

#define STR_HDD			"Merevlemezek:"
#define STR_NEW			"&Új..."
#define STR_EXISTING		"&Megnyitás..."
#define STR_REMOVE		"&Eltávolítás"
#define STR_BUS			"Busz:"
#define STR_CHANNEL		"Csatorna:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"&Kiválasztás..."
#define STR_SECTORS		"Szektor:"
#define STR_HEADS		"Fej:"
#define STR_CYLS		"Cilinder:"
#define STR_SIZE_MB		"Méret (MB):"
#define STR_TYPE		"Típus:"
#define STR_IMG_FORMAT		"Formátum:"
#define STR_BLOCK_SIZE		"Blokkméret:"

#define STR_FLOPPY_DRIVES	"Floppy-meghajtók:"
#define STR_TURBO		"Turbó időzítés"
#define STR_CHECKBPB		"BPB ellenőrzés"
#define STR_CDROM_DRIVES	"CD-ROM meghajtók:"
#define STR_CD_SPEED		"Seb.:"

#define STR_MO_DRIVES		"MO-meghajtók:"
#define STR_ZIP_DRIVES		"ZIP-meghajtók:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"ISA RTC (óra):"
#define STR_ISAMEM		"ISA memóriabővítők"
#define STR_ISAMEM_1		"Kártya 1:"
#define STR_ISAMEM_2		"Kártya 2:"
#define STR_ISAMEM_3		"Kártya 3:"
#define STR_ISAMEM_4		"Kártya 4:"
#define STR_BUGGER		"ISABugger eszköz"
#define STR_POSTCARD		"POST kártya"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Hiba"
    IDS_2050	"Végzetes hiba"
    IDS_2051	" - PAUSED"
    IDS_2052	"Használja a Ctrl+Alt+PgDn gombokat az ablakhoz való visszatéréshez."
    IDS_2053	"Sebesség"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"ZIP-lemezképek (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"A 86Box nem talált használható ROM-képeket\n\nKérem <a href=""https://github.com/86Box/roms/releases/latest"">töltse le</a> a ROM készletet és bontsa ki a ""roms"" könyvtárba."
    IDS_2057	"(üres)"
    IDS_2058	"ZIP-lemezképek (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Minden fájl (*.*)\0*.*\0"
    IDS_2059	"Turbó"
    IDS_2060	"Bekapcsolva"
    IDS_2061	"Kikapcsolva"
    IDS_2062	"Minden képfájl (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Alapvető szektor képfájlok (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Felületi képfájlok (*.86F)\0*.86F\0"
    IDS_2063	"A számítógép ""%hs"" nem elérhető a ""roms/machines"" mappából hiányzó ROM-képek miatt. Ehelyett egy másik gép kerül futtatásra."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"A videokártya ""%hs"" nem elérhető a ""roms/video"" mappából hiányzó ROM-képek miatt. Ehelyett egy másik kártya kerül futtatásra."
    IDS_2065	"Számítógép"
    IDS_2066	"Megjelenítő"
    IDS_2067	"Beviteli eszközök"
    IDS_2068	"Hang"
    IDS_2069	"Hálózat"
    IDS_2070	"Portok (COM és LPT)"
    IDS_2071	"Tárolóvezérlők"
    IDS_2072	"Merevlemezek"
    IDS_2073	"Floppy és CD-ROM meghajtók"
    IDS_2074	"Egyéb cserélhető tárolók"
    IDS_2075	"Egyéb perifériák"
    IDS_2076	"Felületi képfájlok (*.86F)\0*.86F\0"
    IDS_2077	"Kattintson az egér elfogásához"
    IDS_2078	"Nyomja meg az F8+F12-t az egér elengédéséhez"
    IDS_2079	"Nyomja meg az F8+F12-t vagy a középső gombot az egér elengédéséhez"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Nem sikerült a FluidSynth inicializálása"
    IDS_2081	"Busz"
    IDS_2082	"Fájl"
    IDS_2083	"C"
    IDS_2084	"H"
    IDS_2085	"S"
    IDS_2086	"MB"
    IDS_2087	"BPB ellenőrzése"
    IDS_2088	"KB"
    IDS_2089	"Nem sikerült inicializálni a videó megjelenítőt."
    IDS_2090	"Alapértelmezett"
    IDS_2091	"%i várakozási ciklus(ok)"
    IDS_2092	"Típus"
    IDS_2093	"Nem sikerült a PCap beállítása"
    IDS_2094	"Nem találhatóak PCap eszközök"
    IDS_2095	"Érvénytelen PCap eszköz"
    IDS_2096	"Szabványos 2-gombos játékvezérlő(k)"
    IDS_2097	"Szabványos 4-gombos játékvezérlő"
    IDS_2098	"Szabványos 6-gombos játékvezérlő"
    IDS_2099	"Szabványos 8-gombos játékvezérlő"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Nincs"
    IDS_2104	"Nem lehet betölteni a billentyűzetgyorsítókat."
    IDS_2105	"A közvetlen nyers bevitel regisztrálása nem sikerült."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Floppy %i (%s): %ls"
    IDS_2109	"Minden képfájl (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Továbbfejlesztett szektor képek (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Alapvető szektor képek  (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Flux képekfájlok (*.FDI)\0*.FDI\0Felületi képfájlok (*.86F;*.MFM)\0*.86F;*.MFM\0Minden fájl (*.*)\0*.*\0"
    IDS_2110	"A FreeType inicializálása nem lehetséges"
    IDS_2111	"Az SDL inicializálása nem lehetséges, az SDL2.dll fájl szükséges"
    IDS_2112	"Biztosan szeretné újraindítani az emulált gépet?"
    IDS_2113	"Biztos benne, hogy ki szeretne lépni a 86Box-ból?"
    IDS_2114	"Nem sikerült inicializálni a Ghostscript-et"
    IDS_2115	"MO %i (%ls): %ls"
    IDS_2116	"MO-képfájlok (*.IM?;*.MDI)\0*.IM?;*.MDI\0Minden fájl (*.*)\0*.*\0"
    IDS_2117	"Üdvözli önt az 86Box!"
    IDS_2118	"Integrált vezérlő"
    IDS_2119	"Kilépés"
    IDS_2120	"Nem találhatóak meg a ROM-képek"
    IDS_2121	"Szeretné menteni a beállításokat?"
    IDS_2122	"Ezzel hardveresen újraindítja az emulált gépet."
    IDS_2123	"Mentés"
    IDS_2124	"A 86Box névjegye"
    IDS_2125	"86Box v" EMU_VERSION
    IDS_2126	"Régi számítógépek emulátora\n\nFejlesztők: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho, and others.\n\nFordította: Laci bá'\n\nMegjelent a GNU General Public License v2 vagy újabb alatt. További információért lásd a LICENSE fájlt."
    IDS_2127	"OK"
    IDS_2128	"Hardver nem elérhető"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Győződjön meg hogy a(z) " LIB_NAME_PCAP " telepítve van és jelenleg a " LIB_NAME_PCAP "-kompatibilis kapcsolatot használja."
    IDS_2130	"Érvénytelen konfiguráció"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " szükséges az ESC/P nyomtató emulációhoz."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " szükséges a PostScript fájlok PDF formátumba való automatikus konvertálásához.\n\nAz általános PostScript nyomtatóra küldött dokumentumok PostScript (.ps) fájlként kerülnek mentésre."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " szükséges a FluidSynth MIDI kimenethez."
    IDS_2134	"Teljes képernyős módra váltás"
    IDS_2135	"Ne jelenítse meg újra ezt az üzenetet "
    IDS_2136	"Ne lépjen ki"
    IDS_2137	"Újraindítás"
    IDS_2138	"Ne indítsa újra"
    IDS_2139	"MO-képfájlok (*.IM?;*.MDI)\0*.IM?;*.MDI\0Minden fájl (*.*)\0*.*\0"
    IDS_2140	"CD-ROM-képek (*.ISO;*.CUE)\0*.ISO;*.CUE\0Minden fájl (*.*)\0*.*\0"
    IDS_2141	"%hs eszközkonfiguráció"
    IDS_2142    "Képernyő alvó módban"
    IDS_2143	"OpenGL Shaderek (*.GLSL)\0*.GLSL\0Minden fájl (*.*)\0*.*\0"
    IDS_2144	"OpenGL beállítások"
    IDS_2145	"Egy nem támogatott konfigurációt tölt be"
    IDS_2146	"A kiválasztott gépen alapuló CPU-típusszűrés le van tiltva ezen az emulált gépen.\n\nEz lehetővé teszi olyan CPU kiválasztását, amely egyébként nem kompatibilis a kiválasztott géppel. Előfordulhat azonban, hogy nem kompatibilis a gép BIOS-ával vagy más szoftverekkel.\n\nA beállítás engedélyezése hivatalosan nem támogatott, és a benyújtott hibajelentéseket érvénytelenként lezárhatjuk."
    IDS_2147	"Folytatás"
    IDS_2148	"Magnókazetta: %s"
    IDS_2149	"Magnókazetta-képek (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Minden fájl (*.*)\0*.*\0"
    IDS_2150	"ROM-kazetta %i: %ls"
    IDS_2151	"ROM-kazetta képek (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Minden fájl (*.*)\0*.*\0"
    IDS_2152	"Hiba történt a renderelő inicializálásakor"
    IDS_2153	"Az OpenGL (3.0 Core) megjelenítő-motort nem sikerült inicializálni. Kérem használjon másik renderelőt."
    IDS_2154	"Resume execution"
    IDS_2155	"Pause execution"
    IDS_2156	"Press Ctrl+Alt+Del"
    IDS_2157	"Press Ctrl+Alt+Esc"
    IDS_2158	"Hard reset"
    IDS_2159	"ACPI shutdown"
    IDS_2160	"Settings"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Merevlemez (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"MFM/RLL vagy ESDI CD-ROM meghajtók soha nem léteztek"
    IDS_4100	"Egyéni..."
    IDS_4101	"Egyéni (nagy)..."
    IDS_4102	"Új merevlemez hozzáadása"
    IDS_4103	"Meglévő merevlemez hozzáadása"
    IDS_4104	"A HDI lemezképek nem lehetnek nagyobbak 4 GB-nál."
    IDS_4105	"A lemezképek mérete nem haladhatja meg a 127 GB-ot."
    IDS_4106	"Merevlemez-képfájlok (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Minden fájl (*.*)\0*.*\0"
    IDS_4107	"A fájl nem olvasható"
    IDS_4108	"A fájl nem írható"
    IDS_4109	"Az 512-től eltérő szektorméretű HDI vagy HDX képek nem támogatottak."
    IDS_4110	"Az USB még nem támogatott"
    IDS_4111	"A lemezképfájl már létezik"
    IDS_4112	"Adjon meg egy érvényes fájlnevet."
    IDS_4113	"A lemezképfájl létrehozásra került"
    IDS_4114	"Győződjön meg arról, hogy a fájl létezik és olvasható."
    IDS_4115	"Győződjön meg arról, hogy a fájlt egy írható könyvtárba menti."
    IDS_4116	"A lemezképfájl túl nagy"
    IDS_4117	"Ne felejtse el particionálni és formázni az újonnan létrehozott meghajtót."
    IDS_4118	"A kiválasztott fájl felülírásra kerül. Biztos, hogy ezt kívánja használni?"
    IDS_4119	"Nem támogatott lemezkép"
    IDS_4120	"Felülírás"
    IDS_4121	"Ne írja felül"
    IDS_4122	"Nyers lemezkép (.img)"
    IDS_4123	"HDI-lemezkép (.hdi)"
    IDS_4124	"HDX-lemezkép (.hdx)"
    IDS_4125	"Rögzített méretű VHD (.vhd)"
    IDS_4126	"Dinamikusan bővülő VHD (.vhd)"
    IDS_4127	"Különbség-VHD (.vhd)"
    IDS_4128	"Nagy blokkméret (2 MB)"
    IDS_4129	"Kis blokkméret (512 KB)"
    IDS_4130	"VHD fájlok (*.VHD)\0*.VHD\0Minden fájl (*.*)\0*.*\0"
    IDS_4131	"Válassza ki a szülő VHD-t"
    IDS_4132	"Ez azt jelentheti, hogy a szülőkép módosult az eltérő kép létrehozása után.\n\nEz akkor is előfordulhat, ha a képfájlokat áthelyezték vagy másolták, vagy a lemezt létrehozó program hibája miatt.\n\nSzeretné kijavítani az időbélyegeket?"
    IDS_4133	"A szülő- és a gyermeklemez időbélyegei nem egyeznek"
    IDS_4134	"Nem sikerült kijavítani a VHD időbélyegét."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Letiltva"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Letiltva"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1.2 MB"
    IDS_5895	"1.25 MB"
    IDS_5896	"1.44 MB"
    IDS_5897	"DMF (1024 klaszter)"
    IDS_5898	"DMF (2048 klaszter)"
    IDS_5899	"2.88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3.5"" 128 MB (ISO 10090)"
    IDS_5903	"3.5"" 230 MB (ISO 13963)"
    IDS_5904	"3.5"" 540 MB (ISO 15498)"
    IDS_5905	"3.5"" 640 MB (ISO 15498)"
    IDS_5906	"3.5"" 1.3 GB (GigaMO)"
    IDS_5907	"3.5"" 2.3 GB (GigaMO 2)"
    IDS_5908	"5.25"" 600 MB"
    IDS_5909	"5.25"" 650 MB"
    IDS_5910	"5.25"" 1 GB"
    IDS_5911	"5.25"" 1.3 GB"

    IDS_6144	"Tökéletes RPM"
    IDS_6145	"1%-kal a tökéletes RPM alatt"
    IDS_6146	"1.5%-kal a tökéletes RPM alatt"
    IDS_6147	"2%-kal a tökéletes RPM alatt"

    IDS_7168	"(A rendszer nyelve)"
END
#define IDS_LANG_ENUS	IDS_7168

// Hungarian resources
/////////////////////////////////////////////////////////////////////////////
