////////////////////////////////////////////////////////////////////////////
// Italian (IT-it) resources

#ifdef _WIN32
LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
#pragma code_page(65001)
#endif //_WIN32

// explorerdotexe
#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Azione"
    BEGIN
        MENUITEM "&Tastiera richiede la cattura",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "&CTRL destro è ALT sinistro",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Riavvia...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Pausa",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "E&sci...",                       IDM_ACTION_EXIT
    END
    POPUP "&Visualizza"
    BEGIN
        MENUITEM "&Nascondi barra di stato",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM "Hide &toolbar",		IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "&Finestra ridimensionabile",          IDM_VID_RESIZE
        MENUITEM "R&icorda dimensioni e posizione",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "Re&nderer"
        BEGIN
            MENUITEM "&SDL (Software)",         IDM_VID_SDL_SW
            MENUITEM "SDL (&Hardware)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (3.0 Core)",      IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "Specifica dimensioni...",          IDM_VID_SPECIFY_DIM
        MENUITEM "F&orza display 4:3",    IDM_VID_FORCE43
        POPUP "&Fattore scalare della finestra"
        BEGIN
            MENUITEM "&0.5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1.&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "Metodo filtro"
        BEGIN
            MENUITEM "&Dal più vicino",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Lineare",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "Scala Hi&DPI",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Schermo intero\tCtrl+Alt+PgUp",    IDM_VID_FULLSCREEN
        POPUP "Modalità adattamento &schermo intero"
        BEGIN
            MENUITEM "&Adatta a schermo intero",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "&Pixel quadrati (mantiene l'aspetto)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Scala intera",              IDM_VID_FS_INT
        END
        POPUP "Impostazioni E&GA/(S)VGA"
        BEGIN
            MENUITEM "&Invertire monitor VGA",   IDM_VID_INVERT
            POPUP "Schermi VGA &"
            BEGIN
                MENUITEM "RGB &Color",          IDM_VID_GRAY_RGB
                MENUITEM "&RGB Monocroma",      IDM_VID_GRAY_MONO
                MENUITEM "&Monitor ambra",      IDM_VID_GRAY_AMBER
                MENUITEM "&Monitor verde",      IDM_VID_GRAY_GREEN
                MENUITEM "&Monitor bianco",      IDM_VID_GRAY_WHITE
            END
            POPUP "Conversione &scala grigia"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&AMedia",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "Sovrascansione CGA/PCjr/Tandy/E&GA/(S)VGA",     IDM_VID_OVERSCAN
        MENUITEM "Cambia il contrasto per &display monocromatici", IDM_VID_CGACON
    END
    MENUITEM "&Dispositivi",				IDM_MEDIA
    POPUP "&Strumenti"
    BEGIN
        MENUITEM "&Impostazioni...",                IDM_CONFIG
        MENUITEM "&Aggiorna icone della barra di stato",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "Cattura schermata\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Preferenze...",    IDM_PREFERENCES
        MENUITEM "Abilita &integrazione Discord", IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "Guadagno &suono...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Inizia traccia\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "Ferma traccia\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&?"
    BEGIN
        MENUITEM "&Documentazione...",           IDM_DOCS
        MENUITEM "&Informazioni su 86Box...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nuova immagine...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Immagine esistente...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Immagine esistente (&protezione contro scrittura)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Registra",					IDM_CASSETTE_RECORD
        MENUITEM "R&iproduci",					IDM_CASSETTE_PLAY
        MENUITEM "Ri&avvolgi all'inizio",			IDM_CASSETTE_REWIND
        MENUITEM "A&vanti veloce alla fine",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Immagine...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nuova immagine...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Immagine esistente...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Immagine esistente (&protezione contro scrittura)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "E&sporta in 86F...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Muto",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_CDROM_EMPTY
        MENUITEM "&Ricarica l'immagine precedente",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Immagine",					IDM_CDROM_IMAGE
        MENUITEM "&Cartella",					IDM_CDROM_DIR
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nuova immagine...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Immagine esistente...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Immagine esistente (&protezione contro scrittura)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_ZIP_EJECT
        MENUITEM "&Ricarica l'immagine precedente",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nuova immagine...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Immagine esistente...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Immagine esistente (&protezione contro scrittura)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Espelli",					IDM_MO_EJECT
        MENUITEM "&Ricarica l'immagine precedente",			IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "Imposta obiettivo &fotogrammi"
    BEGIN
        MENUITEM "&Sincronizza col video", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 FPS", IDM_VID_GL_FPS_25
        MENUITEM "&30 FPS", IDM_VID_GL_FPS_30
        MENUITEM "&50 FPS", IDM_VID_GL_FPS_50
        MENUITEM "&60 FPS", IDM_VID_GL_FPS_60
        MENUITEM "&75 FPS", IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync", IDM_VID_GL_VSYNC
    MENUITEM "&Seleziona shader...", IDM_VID_GL_SHADER
    MENUITEM "&Rimuovi shader", IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES		"Preferenze"
#define STR_SND_GAIN		"Guadagno del suono"
#define STR_NEW_FLOPPY		"Nuova immagine"
#define STR_CONFIG		"Impostazioni"
#define STR_SPECIFY_DIM		"Specifica dimensioni della finestra principale"

#define STR_OK			"OK"
#define STR_CANCEL		"Annulla"
#define STR_GLOBAL		"Salva queste impostazioni come &predefinite globali"
#define STR_DEFAULT		"&Predefinito"
#define STR_LANGUAGE		"Lingua:"
#define STR_ICONSET		"Pacchetto di icone:"

#define STR_GAIN		"Guadagno"

#define STR_FILE_NAME		"Nome file:"
#define STR_DISK_SIZE		"Dimensioni disco:"
#define STR_RPM_MODE		"Modalità RPM:"
#define STR_PROGRESS		"Progresso:"

#define STR_WIDTH		"Larghezza:"
#define STR_HEIGHT		"Altezza:"
#define STR_LOCK_TO_SIZE	"Blocca in queste dimensioni"

#define STR_MACHINE_TYPE	"Tipo di piastra madre:"
#define STR_MACHINE		"Piastra madre:"
#define STR_CONFIGURE		"Configura"
#define STR_CPU_TYPE		"Tipo del CPU:"
#define STR_CPU_SPEED		"Veloc.:"
#define STR_FPU			"FPU:"
#define STR_WAIT_STATES		"Stati di attesa:"
#define STR_MB			"MB"
#define STR_MEMORY		"Memoria:"
#define STR_TIME_SYNC		"Sincronizzazione dell'ora"
#define STR_DISABLED		"Disabilitata"
#define STR_ENABLED_LOCAL	"Abilitata (ora locale)"
#define STR_ENABLED_UTC		"Abilitata (UTC)"
#define STR_DYNAREC		"Ricompilatore dinamico"

#define STR_VIDEO		"Video:"
#define STR_VOODOO		"Grafica Voodoo"
#define STR_IBM8514		"Grafica IBM 8514/a"
#define STR_XGA			"Grafica XGA"

#define STR_MOUSE		"Mouse:"
#define STR_JOYSTICK		"Joystick:"
#define STR_JOY1		"Joystick 1..."
#define STR_JOY2		"Joystick 2..."
#define STR_JOY3		"Joystick 3..."
#define STR_JOY4		"Joystick 4..."

#define STR_SOUND		"Scheda audio:"
#define STR_MIDI_OUT		"Uscita MIDI:"
#define STR_MIDI_IN		"Entrata MIDI:"
#define STR_MPU401		"MPU-401 autonomo"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"Usa suono FLOAT32"
#define STR_FM_DRIVER		"Driver sint. FM"
#define STR_FM_DRV_NUKED	"Nuked (più accurato)"
#define STR_FM_DRV_YMFM		"YMFM (più veloce)"

#define STR_NET_TYPE		"Tipo di rete:"
#define STR_PCAP		"Dispositivo PCap:"
#define STR_NET			"Scheda di rete:"

#define STR_COM1		"Dispositivo COM1:"
#define STR_COM2		"Dispositivo COM2:"
#define STR_COM3		"Dispositivo COM3:"
#define STR_COM4		"Dispositivo COM4:"
#define STR_LPT1		"Dispositivo LPT1:"
#define STR_LPT2		"Dispositivo LPT2:"
#define STR_LPT3		"Dispositivo LPT3:"
#define STR_LPT4		"Dispositivo LPT4:"
#define STR_SERIAL1		"Porta seriale 1"
#define STR_SERIAL2		"Porta seriale 2"
#define STR_SERIAL3		"Porta seriale 3"
#define STR_SERIAL4		"Porta seriale 4"
#define STR_PARALLEL1		"Porta parallela 1"
#define STR_PARALLEL2		"Porta parallela 2"
#define STR_PARALLEL3		"Porta parallela 3"
#define STR_PARALLEL4		"Porta parallela 4"

#define STR_HDC			"Controller HD:"
#define STR_FDC			"Controller FD:"
#define STR_IDE_TER		"Controller IDE terziario"
#define STR_IDE_QUA		"Controller IDE quaternario"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Controller 1:"
#define STR_SCSI_2		"Controller 2:"
#define STR_SCSI_3		"Controller 3:"
#define STR_SCSI_4		"Controller 4:"
#define STR_CASSETTE		"Cassetta"

#define STR_HDD			"Hard disk:"
#define STR_NEW			"&Nuovo..."
#define STR_EXISTING		"&Esistente..."
#define STR_REMOVE		"&Rimouvi"
#define STR_BUS			"Bus:"
#define STR_CHANNEL		"Canale:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"&Specifica..."
#define STR_SECTORS		"Settori:"
#define STR_HEADS		"Testine:"
#define STR_CYLS		"Cilindri:"
#define STR_SIZE_MB		"Dimensioni (MB):"
#define STR_TYPE		"Tipo:"
#define STR_IMG_FORMAT		"Formato immagine:"
#define STR_BLOCK_SIZE		"Dimensioni blocco:"

#define STR_FLOPPY_DRIVES	"Unità floppy:"
#define STR_TURBO		"Turbo"
#define STR_CHECKBPB		"Verifica BPB"
#define STR_CDROM_DRIVES	"Unità CD-ROM:"
#define STR_CD_SPEED		"Veloc.:"
#define STR_EARLY		"Unità anteriore"

#define STR_MO_DRIVES		"Unità magneto-ottiche:"
#define STR_ZIP_DRIVES		"Unità ZIP:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"RTC ISA:"
#define STR_ISAMEM		"Espansione memoria ISA"
#define STR_ISAMEM_1		"Scheda 1:"
#define STR_ISAMEM_2		"Scheda 2:"
#define STR_ISAMEM_3		"Scheda 3:"
#define STR_ISAMEM_4		"Scheda 4:"
#define STR_BUGGER		"Dispositivo ISABugger"
#define STR_POSTCARD		"Scheda POST"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Errore"
    IDS_2050	"Errore fatale"
    IDS_2051	" - PAUSED"
    IDS_2052	"Usa Ctrl+Alt+PgDn per tornare alla modalità finestra."
    IDS_2053	"Velocità"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"Immagini ZIP (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"86Box non può trovare immagini ROM utilizzabili.\n\nPlease <a href=""https://github.com/86Box/roms/releases/latest"">download</a> a ROM set and extract it into the ""roms"" directory."
    IDS_2057	"(empty)"
    IDS_2058	"Immagini ZIP (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Tutti i file (*.*)\0*.*\0"
    IDS_2059	"Turbo"
    IDS_2060	"Acceso"
    IDS_2061	"Spento"
    IDS_2062	"Tutte le immagini (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Immagini di settori base (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Immagini di superficie (*.86F)\0*.86F\0"
    IDS_2063	"La macchina ""%hs"" non è disponibile a causa di immagini ROM mancanti nella directory roms/machines. Cambiando ad una macchina disponibile."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"La scheda video ""%hs"" non è disponibile a causa di immagini ROM mancanti nella directory roms/video. Cambiando ad una scheda video disponibile."
    IDS_2065	"Piastra madre"
    IDS_2066	"Schermo"
    IDS_2067	"Dispositivi di entrata"
    IDS_2068	"Audio"
    IDS_2069	"Rete"
    IDS_2070	"Porte (COM & LPT)"
    IDS_2071	"Controller memoria"
    IDS_2072	"Hard disk"
    IDS_2073	"Unità CD-ROM e Floppy"
    IDS_2074	"Altri dispositivi rimuovibili"
    IDS_2075	"Altre periferiche"
    IDS_2076	"Immagini di superficie (*.86F)\0*.86F\0"
    IDS_2077	"Fare clic per catturare mouse"
    IDS_2078	"Premi F8+F12 per rilasciare il mouse"
    IDS_2079	"Premi F8+F12 o pulsante centrale per rilasciare il mouse"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Impossibile inizializzare FluidSynth"
    IDS_2081	"Bus"
    IDS_2082	"File"
    IDS_2083	"C"
    IDS_2084	"H"
    IDS_2085	"S"
    IDS_2086	"MB"
    IDS_2087	"Verifica BPB"
    IDS_2088	"KB"
    IDS_2089	"Impossibile inizializzare il renderer video."
    IDS_2090	"Predefinito"
    IDS_2091	"%i stati d'attesa"
    IDS_2092	"Tipo"
    IDS_2093	"Impossibile impostare PCap"
    IDS_2094	"Nessun dispositivo PCap trovato"
    IDS_2095	"Dispositivo PCap invalido"
    IDS_2096	"Joystick comune da 2 pulsanti"
    IDS_2097	"Joystick comune da 4 pulsanti"
    IDS_2098	"Joystick comune da 6 pulsanti"
    IDS_2099	"Joystick comune da 8 pulsanti"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Nessuno"
    IDS_2104	"Impossibile caricare gli acceleratori da tastiera."
    IDS_2105	"Impossibile registrare input raw."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Floppy %i (%s): %ls"
    IDS_2109	"Tutte le immagini (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Immagini da settori avanzati (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Imagini da settori basilari (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Immagini flusso (*.FDI)\0*.FDI\0Immagini da superficie (*.86F;*.MFM)\0*.86F;*.MFM\0Tutti i file (*.*)\0*.*\0"
    IDS_2110	"Impossibile inizializzare FreeType"
    IDS_2111	"Impossibile inizializzare SDL, SDL2.dll è necessario"
    IDS_2112	"Sei sicuro di voler riavviare la macchina emulata?"
    IDS_2113	"Sei sicuro di voler uscire da 86Box?"
    IDS_2114	"Impossibile inizializzare Ghostscript"
    IDS_2115	"MO %i (%ls): %ls"
    IDS_2116	"Immagini MO (*.IM?;*.MDI)\0*.IM?;*.MDI\0Tutti i file (*.*)\0*.*\0"
    IDS_2117	"Benvenuti in 86Box!"
    IDS_2118	"Controller interno"
    IDS_2119	"Esci"
    IDS_2120	"Nessune immagini ROM trovate"
    IDS_2121	"Vuole salvare queste impostazioni?"
    IDS_2122	"Questo riavvierà la macchina emulata."
    IDS_2123	"Salva"
    IDS_2124	"Informazioni su 86Box"
    IDS_2125	"86Box v" EMU_VERSION

    IDS_2126	"Un emulatore di computer vecchi\n\nAutori: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho, and others.\n\nTradotto da: explorerdotexe\n\nRilasciato sotto la Licenza Pubblica GNU versione 2 o dopo. Vedi LICENSE per maggior informazioni."
    IDS_2127	"OK"
    IDS_2128	"Hardware non disponibile"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Controlla se " LIB_NAME_PCAP " è installato e che tu sia connesso ad una connessione " LIB_NAME_PCAP " compatibile."
    IDS_2130	"Configurazione invalida"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " è richesto per l'emuazione di stampanti ESC/P."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " è richiesto per la conversione automatica di file PostScript a file PDF.\n\nQualsiasi documento mandato alla stampante generica PostScript sarà salvato come file PostScript. (.ps)"
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " è richiesto per l'output FluidSynth MIDI."
    IDS_2134	"Entrando nella modalità schermo intero"
    IDS_2135	"Non mostrare più questo messaggio"
    IDS_2136	"Non uscire"
    IDS_2137	"Riavvia"
    IDS_2138	"Non riavviare"
    IDS_2139	"Immagini MO (*.IM?;*.MDI)\0*.IM?;*.MDI\0Tutti i file (*.*)\0*.*\0"
    IDS_2140	"Immagini CD-ROM (*.ISO;*.CUE)\0*.ISO;*.CUE\0Tutti i file (*.*)\0*.*\0"
    IDS_2141	"Configurazione del dispositivo %hs"
    IDS_2142    "Monitor in modalità riposo"
    IDS_2143	"Shader OpenGL (*.GLSL)\0*.GLSL\0Tutti i file (*.*)\0*.*\0"
    IDS_2144	"Impostazioni OpenGL"
    IDS_2145	"Stai caricando una configurazione non supportata"
    IDS_2146	"Il filtraggio della tipologia di CPU è disabilitato per la macchina selezionata.\n\nQuesto lo rende possibile scegliere un CPU che è altrimenti incompatibile con la macchina selezionata. Tuttavia, portresti incorrere in incompatibilità con il BIOS della macchina o altri programmi. \n\nL'abilitare di questa impostazione non è ufficialmente supportato e tutte le segnalazioni di errori saranno considerate invalide."
    IDS_2147	"Continua"
    IDS_2148	"Cassetta: %s"
    IDS_2149	"Immagini cassetta (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Tutti i file (*.*)\0*.*\0"
    IDS_2150	"Cartuccia %i: %ls"
    IDS_2151	"Immagini cartuccia (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Tutti i file (*.*)\0*.*\0"
    IDS_2152	"Error initializing renderer"
    IDS_2153	"OpenGL (3.0 Core) renderer could not be initialized. Use another renderer."
    IDS_2154	"Resume execution"
    IDS_2155	"Pause execution"
    IDS_2156	"Press Ctrl+Alt+Del"
    IDS_2157	"Press Ctrl+Alt+Esc"
    IDS_2158	"Hard reset"
    IDS_2159	"ACPI shutdown"
    IDS_2160	"Settings"
    IDS_2161    "Unità anteriore"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Hard disk (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"Le unità CD-ROM MFM/RLL o ESDI non sono mai esistite."
    IDS_4100	"Personalizzata..."
    IDS_4101	"Personalizzata (grande)..."
    IDS_4102	"Aggiungi un nuovo disco rigido"
    IDS_4103	"Aggiungi un disco rigido esistente"
    IDS_4104	"Le immagini HDI non possono essere più grandi di 4 GB."
    IDS_4105	"Le immmagini disco non possono essere più grandi di 127 GB."
    IDS_4106	"Immagini disco rigido (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Tutti i file (*.*)\0*.*\0"
    IDS_4107	"Impossibile leggere il file"
    IDS_4108	"Impossibile scrivere al file"
    IDS_4109	"Le immagini HDI o HDX con settori di dimensioni diverse da 512 non sono supportati."
    IDS_4110	"USB non è ancora supportato"
    IDS_4111	"Immagine disco già esiste"
    IDS_4112	"Specifica un nome file valido."
    IDS_4113	"Immagine disco creata"
    IDS_4114	"Controlla che il file esiste e che sia leggibile."
    IDS_4115	"Controlla che il file viene salvato ad un percorso con diritti di scrittura"
    IDS_4116	"Immagine disco troppo grande"
    IDS_4117	"Ricordati di partizionare e formattare il disco appena creato."
    IDS_4118	"Il file selezionato sarà sovrascritto, sei sicuro di volerlo usare?"
    IDS_4119	"Immagine disco non supportata"
    IDS_4120	"Sovrascrivi"
    IDS_4121	"Non sovrascrivere"
    IDS_4122	"Immagine raw (.img)"
    IDS_4123	"Immagine HDI (.hdi)"
    IDS_4124	"Immagine HDX (.hdx)"
    IDS_4125	"VHD di dimensioni fisse (.vhd)"
    IDS_4126	"VHD di dimensioni dinamiche (.vhd)"
    IDS_4127	"VHD differenziato (.vhd)"
    IDS_4128	"Blocchi larghi (2 MB)"
    IDS_4129	"Blocchi piccoli (512 KB)"
    IDS_4130	"File VHD (*.VHD)\0*.VHD\0Tutti i file (*.*)\0*.*\0"
    IDS_4131	"Seleziona il VHD padre."
    IDS_4132	"Questo potrebbe significare che l'immagine padre sia stata modificata dopo la creazione dell'immagine  di differenziazione.\n\nPuò anche succedere se i file immagini sono stati spostati o copiati, o da un errore nel programma che ha creato questo disco.\n\nVuoi aggiustare le marcature di tempo?"
    IDS_4133	"Le marcature di tempo padre e figlio non corrispondono"
    IDS_4134	"Impossibile aggiustare marcature di tempo VHD."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Disabilitato"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Disabilitato"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1.2 MB"
    IDS_5895	"1.25 MB"
    IDS_5896	"1.44 MB"
    IDS_5897	"DMF (cluster 1024)"
    IDS_5898	"DMF (cluster 2048)"
    IDS_5899	"2.88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3.5"" 128 MB (ISO 10090)"
    IDS_5903	"3.5"" 230 MB (ISO 13963)"
    IDS_5904	"3.5"" 540 MB (ISO 15498)"
    IDS_5905	"3.5"" 640 MB (ISO 15498)"
    IDS_5906	"3.5"" 1.3 GB (GigaMO)"
    IDS_5907	"3.5"" 2.3 GB (GigaMO 2)"
    IDS_5908	"5.25"" 600 MB"
    IDS_5909	"5.25"" 650 MB"
    IDS_5910	"5.25"" 1 GB"
    IDS_5911	"5.25"" 1.3 GB"

    IDS_6144	"RPM perfette"
    IDS_6145	"RPM 1% sotto perfezione"
    IDS_6146	"RPM 1.5% sotto perfezione"
    IDS_6147	"RPM 2% sotto perfezione"

    IDS_7168	"(Predefinito del sistema)"
END
#define IDS_LANG_ENUS	IDS_7168

// Italian (IT-it) resources
/////////////////////////////////////////////////////////////////////////////
