////////////////////////////////////////////////////////////////////////////
// Portuguese (pt-BR) resources
//
// Translated by Altieres Lima da Silva, 2021
// 

#ifdef _WIN32
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Ação"
    BEGIN
        MENUITEM "&Teclado requer captura",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "CTRL &direito é o ALT esquerdo",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Reinicialização completa...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Pausar",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "&Sair...",                       IDM_ACTION_EXIT
    END
    POPUP "&Exibir"
    BEGIN
        MENUITEM "&Ocultar barra de status",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM "Ocultar &barra de ferramenta",		IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "&Janela redimensionável",          IDM_VID_RESIZE
        MENUITEM "&Lembrar tamanho e posição",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Renderizador"
        BEGIN
            MENUITEM "&SDL (Software)",         IDM_VID_SDL_SW
            MENUITEM "SDL (&Hardware)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (Núcleo 3.0)",      IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "Especificar as dimensões...",          IDM_VID_SPECIFY_DIM
        MENUITEM "F&orçar proporção de tela em 4:3",    IDM_VID_FORCE43
        POPUP "&Fator de redimensionamento da janela"
        BEGIN
            MENUITEM "&0,5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1,&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "Método de filtragem"
        BEGIN
            MENUITEM "&Mais próximo",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Linear",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "Escala Hi&DPI",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Tela cheia\tCtrl+Alt+PgUp",    IDM_VID_FULLSCREEN
        POPUP "Modo de &redimensionamento da tela cheia"
        BEGIN
            MENUITEM "&Tela cheia esticada",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "Pixel&s quadrados (manter proporção)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Redimensionamento com valores inteiros",              IDM_VID_FS_INT
        END
        POPUP "Configurações E&GA/(S)VGA"
        BEGIN
            MENUITEM "Monitor VGA &invertido",   IDM_VID_INVERT
            POPUP "&Tipo de tela VGA"
            BEGIN
                MENUITEM "&Cor RGB",          IDM_VID_GRAY_RGB
                MENUITEM "Tons de cinza &RGB",      IDM_VID_GRAY_MONO
                MENUITEM "Monitor &âmbar",      IDM_VID_GRAY_AMBER
                MENUITEM "Monitor &verde",      IDM_VID_GRAY_GREEN
                MENUITEM "Monitor &branco",      IDM_VID_GRAY_WHITE
            END
            POPUP "Tipo de &conversão de tons de cinza"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&Média",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "Overscan do CGA/PCjr/Tandy/E&GA/(S)VGA",     IDM_VID_OVERSCAN
        MENUITEM "Alterar contraste para exibição &monocromática", IDM_VID_CGACON
    END
    MENUITEM "&Mídia",				IDM_MEDIA
    POPUP "&Ferramentas"
    BEGIN
        MENUITEM "&Configurações...",                IDM_CONFIG
        MENUITEM "&Atualizar ícones da barra de status",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "Capturar &tela\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Preferências...",    IDM_PREFERENCES
        MENUITEM "Ativar integração com o &Discord", IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "&Ganho de som...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Inicio do rastreamento\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "Fim do rastreamento\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&Ajuda"
    BEGIN
        MENUITEM "&Documentação...",           IDM_DOCS
        MENUITEM "&Sobre o 86Box...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova imagem...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Imagem existente...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Imagem existente (&protegida contra escrita)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Gravar",					IDM_CASSETTE_RECORD
        MENUITEM "&Reproduzir",					IDM_CASSETTE_PLAY
        MENUITEM "&Rebobinar até o começo",			IDM_CASSETTE_REWIND
        MENUITEM "&Avançar até o fim",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "E&jetar",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Imagem...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "E&jetar",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova imagem...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Imagem existente...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Imagem existente (&protegida contra escrita)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "E&xportar para 86F...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "E&jetar",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Sem som",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Vazio",					IDM_CDROM_EMPTY
        MENUITEM "&Recarregar imagem anterior",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Imagem",					IDM_CDROM_IMAGE
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova imagem...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Imagem existente...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Imagem existente (&protegida contra escrita)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "E&jetar",					IDM_ZIP_EJECT
        MENUITEM "&Recarregar imagem anterior",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova imagem...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Imagem existente...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Imagem existente (&protegida contra escrita)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "E&jetar",					IDM_MO_EJECT
        MENUITEM "&Recarregar imagem anterior",			IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "&Taxa de quadro pretendida"
    BEGIN
        MENUITEM "&Sincronizar com vídeo", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 qps", IDM_VID_GL_FPS_25
        MENUITEM "&30 qps", IDM_VID_GL_FPS_30
        MENUITEM "&50 qps", IDM_VID_GL_FPS_50
        MENUITEM "&60 qps", IDM_VID_GL_FPS_60
        MENUITEM "&75 qps", IDM_VID_GL_FPS_75
    END
    MENUITEM "Sincronização &vertical", IDM_VID_GL_VSYNC
    MENUITEM "&Selecionar shader...", IDM_VID_GL_SHADER
    MENUITEM "&Remover shader", IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES		"Preferências"
#define STR_SND_GAIN		"Ganho de som"
#define STR_NEW_FLOPPY		"Nova imagem de disquete"
#define STR_CONFIG		"Configurações"
#define STR_SPECIFY_DIM		"Especifique as dimensões da janela principal"

#define STR_OK			"OK"
#define STR_CANCEL		"Cancelar"
#define STR_GLOBAL		"Usar estas configurações como &padrões globais"
#define STR_DEFAULT		"&Padrão"
#define STR_LANGUAGE		"Idioma:"
#define STR_ICONSET		"Pacote de ícones:"

#define STR_GAIN		"Ganho"

#define STR_FILE_NAME		"Nome:"
#define STR_DISK_SIZE		"Tamanho:"
#define STR_RPM_MODE		"Modo RPM:"
#define STR_PROGRESS		"Progresso:"

#define STR_WIDTH		"Largura:"
#define STR_HEIGHT		"Altura:"
#define STR_LOCK_TO_SIZE	"Travar nesse tamanho"

#define STR_MACHINE_TYPE	"Tipo de máquina:"
#define STR_MACHINE		"Máquina:"
#define STR_CONFIGURE		"Configurar"
#define STR_CPU_TYPE		"Tipo de CPU:"
#define STR_CPU_SPEED		"Veloc.:"
#define STR_FPU			"FPU:"
#define STR_WAIT_STATES		"Estados de espera:"
#define STR_MB			"MB"
#define STR_MEMORY		"Memória:"
#define STR_TIME_SYNC		"Sincronização da hora"
#define STR_DISABLED		"Desativada"
#define STR_ENABLED_LOCAL	"Ativada (hora local)"
#define STR_ENABLED_UTC		"Ativada (UTC)"
#define STR_DYNAREC		"Recompilador dinâmico"

#define STR_VIDEO		"Vídeo:"
#define STR_VOODOO		"3DFX Voodoo"
#define STR_IBM8514		"IBM 8514/a Graphics"

#define STR_MOUSE		"Mouse:"
#define STR_JOYSTICK		"Joystick:"
#define STR_JOY1		"Joystick 1..."
#define STR_JOY2		"Joystick 2..."
#define STR_JOY3		"Joystick 3..."
#define STR_JOY4		"Joystick 4..."

#define STR_SOUND		"Placa de som:"
#define STR_MIDI_OUT	"Disp. saída MIDI:"
#define STR_MIDI_IN		"Disp. entrada MIDI:"
#define STR_MPU401		"MPU-401 autônomo"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"Usar som FLOAT32"

#define STR_NET_TYPE		"Tipo de rede:"
#define STR_PCAP		"Dispositivo PCap:"
#define STR_NET			"Adaptador de rede:"

#define STR_COM1		"Dispositivo COM1:"
#define STR_COM2		"Dispositivo COM2:"
#define STR_COM3		"Dispositivo COM3:"
#define STR_COM4		"Dispositivo COM4:"
#define STR_LPT1		"Dispositivo LPT1:"
#define STR_LPT2		"Dispositivo LPT2:"
#define STR_LPT3		"Dispositivo LPT3:"
#define STR_LPT4		"Dispositivo LPT4:"
#define STR_SERIAL1		"Porta serial 1"
#define STR_SERIAL2		"Porta serial 2"
#define STR_SERIAL3		"Porta serial 3"
#define STR_SERIAL4		"Porta serial 4"
#define STR_PARALLEL1		"Porta paralela 1"
#define STR_PARALLEL2		"Porta paralela 2"
#define STR_PARALLEL3		"Porta paralela 3"
#define STR_PARALLEL4		"Porta paralela 4"

#define STR_HDC			"Controlador HD:"
#define STR_FDC			"Controlador FD:"
#define STR_IDE_TER		"Controlador IDE terciário"
#define STR_IDE_QUA		"Controlador IDE quaternário"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Controlador 1:"
#define STR_SCSI_2		"Controlador 2:"
#define STR_SCSI_3		"Controlador 3:"
#define STR_SCSI_4		"Controlador 4:"
#define STR_CASSETTE		"Cassete"

#define STR_HDD			"Discos rígidos:"
#define STR_NEW			"&Novo..."
#define STR_EXISTING		"&Existente..."
#define STR_REMOVE		"&Remover"
#define STR_BUS			"Bar.:"
#define STR_CHANNEL		"Canal:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"&Especificar..."
#define STR_SECTORS		"Setores:"
#define STR_HEADS		"Cabeças:"
#define STR_CYLS		"Cilindros:"
#define STR_SIZE_MB		"Tamanho (MB):"
#define STR_TYPE		"Tipo:"
#define STR_IMG_FORMAT		"Formato:"
#define STR_BLOCK_SIZE		"Bloco:"

#define STR_FLOPPY_DRIVES	"Unidades de disquete:"
#define STR_TURBO		"Turbo"
#define STR_CHECKBPB		"Verificar BPB"
#define STR_CDROM_DRIVES	"Unidades de CD-ROM:"
#define STR_CD_SPEED		"Veloc.:"

#define STR_MO_DRIVES		"Unidades magneto-ópticas:"
#define STR_ZIP_DRIVES		"Unidades ZIP:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"RTC ISA:"
#define STR_ISAMEM		"Expansão de memória ISA"
#define STR_ISAMEM_1		"Placa 1:"
#define STR_ISAMEM_2		"Placa 2:"
#define STR_ISAMEM_3		"Placa 3:"
#define STR_ISAMEM_4		"Placa 4:"
#define STR_BUGGER		"Dispositivo ISABugger"
#define STR_POSTCARD		"Placa de diagnóstico"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Erro"
    IDS_2050	"Erro fatal"
    IDS_2051	" - PAUSED"
    IDS_2052	"Use Ctrl+Alt+PgDn para retornar ao modo janela"
    IDS_2053	"Velocidade"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"Imagens ZIP (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"O 86Box não conseguiu encontrar nenhuma imagem de ROM utilizável.\n\nPor favor, <a href=""https://github.com/86Box/roms/releases/latest"">baixe</a> um conjunto de ROM e extraia no diretório ""roms""."
    IDS_2057	"(vazio)"
    IDS_2058	"Imagens ZIP (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2059	"Turbo"
    IDS_2060	"Lig."
    IDS_2061	"Desl."
    IDS_2062	"Todas as imagens (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Imagens de setor básico (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Imagens de superfície (*.86F)\0*.86F\0"
    IDS_2063	"A máquina ""%hs"" não está disponível devido à falta de ROMs no diretório roms/machines. Mudando para uma máquina disponível."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"A placa de vídeo ""%hs"" não está disponível devido à falta de ROMs no diretório roms/video. Mudando para uma placa de vídeo disponível."
    IDS_2065	"Máquina"
    IDS_2066	"Vídeo"
    IDS_2067	"Dispositivos de entrada"
    IDS_2068	"Som"
    IDS_2069	"Rede"
    IDS_2070	"Portas (COM & LPT)"
    IDS_2071	"Controladores de armaz."
    IDS_2072	"Discos rígidos"
    IDS_2073	"Disquete & CD-ROM"
    IDS_2074	"Dispos. removíveis"
    IDS_2075	"Outros periféricos"
    IDS_2076	"Imagens de superfície (*.86F)\0*.86F\0"
    IDS_2077	"Clique para capturar o mouse"
    IDS_2078	"Aperte F8+F12 para liberar o mouse"
    IDS_2079	"Aperte F8+F12 ou botão do meio para liberar o mouse"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Não foi possível inicializar o FluidSynth"
    IDS_2081	"Barramento"
    IDS_2082	"Arquivo"
    IDS_2083	"CI"
    IDS_2084	"CA"
    IDS_2085	"SE"
    IDS_2086	"MB"
    IDS_2087	"Verificar BPB"
    IDS_2088	"KB"
    IDS_2089	"Não foi possível inicializar o renderizador de vídeo."
    IDS_2090	"Padrão"
    IDS_2091	"%i estado(s) de espera"
    IDS_2092	"Tipo"
    IDS_2093	"Não foi possível configurar o PCap"
    IDS_2094	"Nenhum dispositivo PCap encontrado"
    IDS_2095	"Dispositivo PCap inválido"
    IDS_2096	"Joystick padrão de 2 botões"
    IDS_2097	"Joystick padrão de 4 botões"
    IDS_2098	"Joystick padrão de 6 botões"
    IDS_2099	"Joystick padrão de 8 botões"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Nada"
    IDS_2104	"Não foi possível carregar os aceleradores do teclado."
    IDS_2105	"Não foi possível registrar a entrada bruta."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Disquete %i (%s): %ls"
    IDS_2109	"Todas as imagens (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Imagens de setor avançado (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Imagens de setor básico (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Imagens de fluxo (*.FDI)\0*.FDI\0Imagens de superfície (*.86F;*.MFM)\0*.86F;*.MFM\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2110	"Não foi possível inicializar o FreeType"
    IDS_2111	"Não é possível inicializar o SDL, é necessário o SDL2.dll"
    IDS_2112	"Tem certeza de que deseja reiniciar completamente a máquina emulada?"
    IDS_2113	"Tem certeza de que deseja sair do 86Box?"
    IDS_2114	"Não é possível inicializar o Ghostscript"
    IDS_2115	"Magneto-óptico %i (%ls): %ls"
    IDS_2116	"Imagens magneto-ópticas (*.IM?;*.MDI)\0*.IM?;*.MDI\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2117	"Bem-vindo ao 86Box!"
    IDS_2118	"Controlador interno"
    IDS_2119	"Sair"
    IDS_2120	"Nenhum ROM encontrada"
    IDS_2121	"Você deseja salvar as configurações?"
    IDS_2122	"Isto fará com que a máquina emulada seja reinicializada."
    IDS_2123	"Salvar"
    IDS_2124	"Sobre o 86Box"
    IDS_2125	"86Box versão" EMU_VERSION

    IDS_2126	"Um emulador de computadores antigos\n\nAutores: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho, e outros.\n\nTraduzido por: Altieres Lima da Silva\n\nLançado sob a Licença Pública Geral GNU versão 2 ou posterior. Veja o arquivo LICENSE para mais informações."
    IDS_2127	"OK"
    IDS_2128	"Hardware não disponível"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Certifique-se de que " LIB_NAME_PCAP " esteja instalado e que você tenha uma conexão de rede compatível com " LIB_NAME_PCAP "."
    IDS_2130	"Configuração inválida"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " é necessário para emulação de impressora ESC/P."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " é necessário para a conversão automática de arquivos PostScript para PDF.\n\nQualquer documento enviado para a impressora genérica PostScript será salvo como arquivos PostScript (.ps)."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " é necessário para a saída MIDI FluidSynth."
    IDS_2134	"Entrando no modo de tela cheia"
    IDS_2135	"Não exibir esta mensagem novamente"
    IDS_2136	"Não sair"
    IDS_2137	"Reiniciar"
    IDS_2138	"Não reiniciar"
    IDS_2139	"Imagens magneto-ópticas (*.IM?;*.MDI)\0*.IM?;*.MDI\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2140	"Imagens de CD-ROM (*.ISO;*.CUE)\0*.ISO;*.CUE\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2141	"Configuração do dispositivo %hs"
    IDS_2142    "Monitor em modo de suspensão"
    IDS_2143	"Shaders OpenGL (*.GLSL)\0*.GLSL\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2144	"Opções do OpenGL"
    IDS_2145	"Você está carregando uma configuração não suportada"
    IDS_2146	"A filtragem do tipo CPU baseada na máquina selecionada é desativada para esta máquina emulada.\n\nIsto torna possível escolher uma CPU que de outra forma seria incompatível com a máquina selecionada. Entretanto, você pode encontrar incompatibilidades com a BIOS da máquina ou outro software.\n\nA ativação desta configuração não é oficialmente suportada e qualquer relatório de erro arquivado pode ser fechado como inválido."
    IDS_2147	"Continuar"
    IDS_2148	"Cassete: %s"
    IDS_2149	"Imagens de cassete (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2150	"Cartucho %i: %ls"
    IDS_2151	"Imagens de cartucho (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Todos os arquivos (*.*)\0*.*\0"
    IDS_2152	"Erro ao inicializar o renderizador"
    IDS_2153	"O renderizador OpenGL (Núcleo 3.0) não pôde ser inicializado. Use outro renderizador."
    IDS_2154	"Continuar a execução"
    IDS_2155	"Pausar a execução"
    IDS_2156	"Pressionar Ctrl+Alt+Del"
    IDS_2157	"Pressionar Ctrl+Alt+Esc"
    IDS_2158	"Reinicialização completa"
    IDS_2159	"Desligamento por ACPI"
    IDS_2160	"Configurações"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Disco rígido (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"As unidades de CD-ROM MFM/RLL ou ESDI nunca existiram"
    IDS_4100	"Personalizado..."
    IDS_4101	"Personalizado (grande)..."
    IDS_4102	"Adicionar novo disco rígido"
    IDS_4103	"Adicionar disco rígido existente"
    IDS_4104	"As imagens de disco HDI não podem ser maiores do que 4GB."
    IDS_4105	"As imagens de disco não podem ser maiores do que 127GB."
    IDS_4106	"Imagens de disco rígido (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Todos os arquivos (*.*)\0*.*\0"
    IDS_4107	"Não foi possível ler o arquivo"
    IDS_4108	"Não foi possível escrever o arquivo"
    IDS_4109	"Imagens HDI ou HDX com um tamanho de setor que não seja 512 não são suportadas."
    IDS_4110	"O USB ainda não é suportado"
    IDS_4111	"Esta imagem existe"
    IDS_4112	"Digite um nome de arquivo válido."
    IDS_4113	"A imagem foi criada com sucesso"
    IDS_4114	"Certifique-se de que o arquivo existe e é legível."
    IDS_4115	"Certifique-se de que o arquivo está sendo salvo em um diretório gravável."
    IDS_4116	"A imagem do disco é muito grande"
    IDS_4117	"Lembre-se de particionar e formatar a unidade recém-criada."
    IDS_4118	"O arquivo selecionado será sobrescrito. Você tem certeza de que deseja usá-lo?"
    IDS_4119	"Imagem de disco sem suporte"
    IDS_4120	"Sobrescrever"
    IDS_4121	"Não sobrescrever"
    IDS_4122	"Imagem bruta (.img)"
    IDS_4123	"Imagem HDI (.hdi)"
    IDS_4124	"Imagem HDX (.hdx)"
    IDS_4125	"VHD de tamanho fixo (.vhd)"
    IDS_4126	"VHD de tamanho dinâmico (.vhd)"
    IDS_4127	"VHD diferencial (.vhd)"
    IDS_4128	"Blocos grandes (2 MB)"
    IDS_4129	"Blocos pequenos (512 KB)"
    IDS_4130	"Arquivos VHD (*.VHD)\0*.VHD\0Todos os arquivos (*.*)\0*.*\0"
    IDS_4131	"Selecione o VHD pai"
    IDS_4132	"Isto pode significar que a imagem de origem foi modificada após a criação da imagem diferencial.\n\nTambém pode acontecer caso os arquivos de imagem tenham sido movidos ou copiados, ou por um erro no programa que criou este disco.\n\nVocê quer consertar os marcadores de tempo?"
    IDS_4133	"A data/hora dos arquivos de pais e filhos não correspondem"
    IDS_4134	"Não foi possível consertar o carimbo de data/hora da VHD."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Desativado"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Desativado"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1.2 MB"
    IDS_5895	"1.25 MB"
    IDS_5896	"1.44 MB"
    IDS_5897	"DMF (cluster 1024)"
    IDS_5898	"DMF (cluster 2048)"
    IDS_5899	"2.88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3.5"" 128 MB (ISO 10090)"
    IDS_5903	"3.5"" 230 MB (ISO 13963)"
    IDS_5904	"3.5"" 540 MB (ISO 15498)"
    IDS_5905	"3.5"" 640 MB (ISO 15498)"
    IDS_5906	"3.5"" 1.3 GB (GigaMO)"
    IDS_5907	"3.5"" 2.3 GB (GigaMO 2)"
    IDS_5908	"5.25"" 600 MB"
    IDS_5909	"5.25"" 650 MB"
    IDS_5910	"5.25"" 1 GB"
    IDS_5911	"5.25"" 1.3 GB"

    IDS_6144	"RPM perfeita"
    IDS_6145	"1% abaixo das RPM perfeita"
    IDS_6146	"1.5% abaixo das RPM perfeita"
    IDS_6147	"2% abaixo das RPM perfeita"

    IDS_7168	"(Padrão do sistema)"
END
#define IDS_LANG_ENUS	IDS_7168

// Portuguese (pt-BR) resources
/////////////////////////////////////////////////////////////////////////////
