////////////////////////////////////////////////////////////////////////////
// Slovenian resources

#ifdef _WIN32
LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

#define AUTHORS

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MainMenu MENU DISCARDABLE 
BEGIN
    POPUP "&Dejanja"
    BEGIN
        MENUITEM "&Tipkovnica potrebuje zajem",	IDM_ACTION_KBD_REQ_CAPTURE
        MENUITEM "&Desni CTRL je levi ALT",	IDM_ACTION_RCTRL_IS_LALT
        MENUITEM SEPARATOR
        MENUITEM "&Ponovni zagon...",                 IDM_ACTION_HRESET
        MENUITEM "&Ctrl+Alt+Del\tCtrl+F12",     IDM_ACTION_RESET_CAD
        MENUITEM SEPARATOR
	MENUITEM "Ctrl+Alt+&Esc",		IDM_ACTION_CTRL_ALT_ESC
        MENUITEM SEPARATOR
        MENUITEM "&Premor",                      IDM_ACTION_PAUSE
        MENUITEM SEPARATOR
        MENUITEM "Iz&hod...",                       IDM_ACTION_EXIT
    END
    POPUP "&Pogled"
    BEGIN
        MENUITEM "&Skrij statusno vrstico",		IDM_VID_HIDE_STATUS_BAR
        MENUITEM "Hide &toolbar",		IDM_VID_HIDE_TOOLBAR
        MENUITEM SEPARATOR
        MENUITEM "S&premenljiva velikost okna",          IDM_VID_RESIZE
        MENUITEM "&Zapomni si velikost in položaj",  IDM_VID_REMEMBER
        MENUITEM SEPARATOR
        POPUP "&Upodabljanje"
        BEGIN
            MENUITEM "&SDL (programsko)",         IDM_VID_SDL_SW
            MENUITEM "SDL (s&trojno)",         IDM_VID_SDL_HW
            MENUITEM "SDL (&OpenGL)",           IDM_VID_SDL_OPENGL
            MENUITEM "Open&GL (Jedro 3.0)",      IDM_VID_OPENGL_CORE
#ifdef USE_VNC
            MENUITEM "&VNC",                    IDM_VID_VNC
#endif
        END
        MENUITEM SEPARATOR
        MENUITEM "&Določi velikost...",          IDM_VID_SPECIFY_DIM
        MENUITEM "&Vsili 4:3 razmerje zaslona",    IDM_VID_FORCE43
        POPUP "&Faktor velikosti okna"
        BEGIN
            MENUITEM "&0.5x",                   IDM_VID_SCALE_1X
            MENUITEM "&1x",                     IDM_VID_SCALE_2X
            MENUITEM "1.&5x",                   IDM_VID_SCALE_3X
            MENUITEM "&2x",                     IDM_VID_SCALE_4X
        END
        POPUP "&Metoda filtriranja"
        BEGIN
            MENUITEM "&Najbližja",                 IDM_VID_FILTER_NEAREST
            MENUITEM "&Linearna",                  IDM_VID_FILTER_LINEAR
        END
        MENUITEM "&Raztezanje za visok DPI",              IDM_VID_HIDPI
        MENUITEM SEPARATOR
        MENUITEM "&Celozaslonski način\tCtrl+Alt+PgUp",    IDM_VID_FULLSCREEN
        POPUP "&Način celozaslonskega raztezanja"
        BEGIN
            MENUITEM "&Raztegni na celoten zaslon",        IDM_VID_FS_FULL
            MENUITEM "&4:3",                        IDM_VID_FS_43
            MENUITEM "&Kvadratni piksli (ohrani razmerje)", IDM_VID_FS_KEEPRATIO
            MENUITEM "&Celoštevilsko raztezanje",              IDM_VID_FS_INT
        END
        POPUP "Nastavitve E&GA/(S)VGA"
        BEGIN
            MENUITEM "&Obrni barve zaslona VGA",   IDM_VID_INVERT
            POPUP "&Vrsta zaslona VGA"
            BEGIN
                MENUITEM "&Barvni RGB",          IDM_VID_GRAY_RGB
                MENUITEM "&Sivinski RGB",      IDM_VID_GRAY_MONO
                MENUITEM "&Rumeni zaslon",      IDM_VID_GRAY_AMBER
                MENUITEM "&Zeleni zaslon",      IDM_VID_GRAY_GREEN
                MENUITEM "B&eli zaslon",      IDM_VID_GRAY_WHITE
            END
            POPUP "V&rsta pretvorbe sivin"
            BEGIN
                MENUITEM "BT&601 (NTSC/PAL)",   IDM_VID_GRAYCT_601
                MENUITEM "BT&709 (HDTV)",       IDM_VID_GRAYCT_709
                MENUITEM "&Povprečje",            IDM_VID_GRAYCT_AVE
            END
        END
        MENUITEM SEPARATOR
        MENUITEM "&Presežek slike CGA/PCjr/Tandy/EGA/(S)VGA",     IDM_VID_OVERSCAN
        MENUITEM "&Spremeni contrast za črno-beli zaslon", IDM_VID_CGACON
    END
    MENUITEM "&Mediji",				IDM_MEDIA
    POPUP "&Orodja"
    BEGIN
        MENUITEM "&Nastavitve...",                IDM_CONFIG
        MENUITEM "&Posodabljaj ikone statusne vrstice",	IDM_UPDATE_ICONS
        MENUITEM SEPARATOR
        MENUITEM "&Zajemi posnetek zaslona\tCtrl+F11",  IDM_ACTION_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "&Možnosti...",    IDM_PREFERENCES
        MENUITEM "Omogoči integracijo s programom &Discord", IDM_DISCORD
        MENUITEM SEPARATOR
        MENUITEM "&Ojačanje zvoka...",              IDM_SND_GAIN
#ifdef MTR_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "Z&ačni sledenje\tCtrl+T",         IDM_ACTION_BEGIN_TRACE
        MENUITEM "&Končaj sledenje\tCtrl+T",           IDM_ACTION_END_TRACE
#endif
    END
    POPUP "&Pomoč"
    BEGIN
        MENUITEM "&Dokumentacija...",           IDM_DOCS
        MENUITEM "&O programu 86Box...",             IDM_ABOUT
    END
END

StatusBarMenu MENU DISCARDABLE 
BEGIN
    MENUITEM SEPARATOR
END

CassetteSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_CASSETTE_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Obstoječa slika...",				IDM_CASSETTE_IMAGE_EXISTING
        MENUITEM "Obstoječa slika (&samo za branje)...",	IDM_CASSETTE_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "Snemaj",					IDM_CASSETTE_RECORD
        MENUITEM "Predvajaj",					IDM_CASSETTE_PLAY
        MENUITEM "Previj na začetek",			IDM_CASSETTE_REWIND
        MENUITEM "Preskoči na konec",			IDM_CASSETTE_FAST_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "Izvrzi",					IDM_CASSETTE_EJECT
    END
END

CartridgeSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Slika...",					IDM_CARTRIDGE_IMAGE
        MENUITEM SEPARATOR
        MENUITEM "Izvrzi",					IDM_CARTRIDGE_EJECT
    END
END

FloppySubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_FLOPPY_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Obstoječa slika...",				IDM_FLOPPY_IMAGE_EXISTING
        MENUITEM "Obstoječa slika (&samo za branje)...",	IDM_FLOPPY_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "&Izvozi v 86F...",				IDM_FLOPPY_EXPORT_TO_86F
        MENUITEM SEPARATOR
        MENUITEM "I&zvrzi",					IDM_FLOPPY_EJECT
    END
END

CdromSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Utišaj",					IDM_CDROM_MUTE
        MENUITEM SEPARATOR
        MENUITEM "&Prazen",					IDM_CDROM_EMPTY
        MENUITEM "&Naloži zadnjo sliko",			IDM_CDROM_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "&Slika",					IDM_CDROM_IMAGE
    END
END

ZIPSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_ZIP_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Obstoječa slika...",				IDM_ZIP_IMAGE_EXISTING
        MENUITEM "Obstoječa slika (&samo za branje)...",	IDM_ZIP_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "I&zvrzi",					IDM_ZIP_EJECT
        MENUITEM "&Naloži zadnjo sliko",			IDM_ZIP_RELOAD
    END
END

MOSubmenu MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nova slika...",				IDM_MO_IMAGE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Obstoječa slika...",				IDM_MO_IMAGE_EXISTING
        MENUITEM "Obstoječa slika (&samo za branje)...",	IDM_MO_IMAGE_EXISTING_WP
        MENUITEM SEPARATOR
        MENUITEM "I&zvrzi",					IDM_MO_EJECT
        MENUITEM "&Naloži zadnjo sliko",			IDM_MO_RELOAD
    END
END

VidGLSubMenu MENU DISCARDABLE
BEGIN
    POPUP "&Ciljno št. sličic na sekundo"
    BEGIN
        MENUITEM "&Sinhroniziraj z videom", IDM_VID_GL_FPS_BLITTER
        MENUITEM "&25 fps", IDM_VID_GL_FPS_25
        MENUITEM "&30 fps", IDM_VID_GL_FPS_30
        MENUITEM "&50 fps", IDM_VID_GL_FPS_50
        MENUITEM "&60 fps", IDM_VID_GL_FPS_60
        MENUITEM "&75 fps", IDM_VID_GL_FPS_75
    END
    MENUITEM "&VSync", IDM_VID_GL_VSYNC
    MENUITEM "&Izberi senčilnik...", IDM_VID_GL_SHADER
    MENUITEM "&Odstrani senčilnik", IDM_VID_GL_NOSHADER
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define STR_PREFERENCES		"Možnosti"
#define STR_SND_GAIN		"Ojačanje zvoka"
#define STR_NEW_FLOPPY		"Nova slika"
#define STR_CONFIG		"Nastavitve"
#define STR_SPECIFY_DIM		"Določi velikost glavnega okna"

#define STR_OK			"V redu"
#define STR_CANCEL		"Prekliči"
#define STR_GLOBAL		"Shrani te nastavitve kot globalne privzete"
#define STR_DEFAULT		"Privzeto"
#define STR_LANGUAGE		"Jezik:"
#define STR_ICONSET		"Komplet ikon:"

#define STR_GAIN		"Ojačanje"

#define STR_FILE_NAME		"Ime datoteke:"
#define STR_DISK_SIZE		"Velikost diska:"
#define STR_RPM_MODE		"Način števila obratov:"
#define STR_PROGRESS		"Napredek:"

#define STR_WIDTH		"Širina:"
#define STR_HEIGHT		"Višina:"
#define STR_LOCK_TO_SIZE	"Zakleni na to velikost"

#define STR_MACHINE_TYPE	"Vrsta sistema:"
#define STR_MACHINE		"Sistem:"
#define STR_CONFIGURE		"Nastavi"
#define STR_CPU_TYPE		"Vrsta procesorja:"
#define STR_CPU_SPEED		"Hitrost:"
#define STR_FPU			"Procesor plavajoče vejice:"
#define STR_WAIT_STATES		"Čakalna stanja:"
#define STR_MB			"MB"
#define STR_MEMORY		"Spomin:"
#define STR_TIME_SYNC		"Sinhronizacija časa"
#define STR_DISABLED		"Onemogočeno"
#define STR_ENABLED_LOCAL	"Omogočeno (lokalni čas)"
#define STR_ENABLED_UTC		"Omogočeno (UTC)"
#define STR_DYNAREC		"Dinamični prevajalnik"

#define STR_VIDEO		"Video:"
#define STR_VOODOO		"Voodoo grafika"

#define STR_MOUSE		"Miška:"
#define STR_JOYSTICK		"Igralna palica:"
#define STR_JOY1		"Igralna palica 1..."
#define STR_JOY2		"Igralna palica 2..."
#define STR_JOY3		"Igralna palica 3..."
#define STR_JOY4		"Igralna palica 4..."

#define STR_SOUND		"Zvočna kartica:"
#define STR_MIDI_OUT	"Izhodna naprava MIDI:"
#define STR_MIDI_IN		"Vhodna naprava MIDI:"
#define STR_MPU401		"Samostojen MPU-401"
#define STR_SSI			"Innovation SSI-2001"
#define STR_CMS			"CMS / Game Blaster"
#define STR_GUS			"Gravis Ultrasound"
#define STR_FLOAT		"Uporabi FLOAT32 za zvok"

#define STR_NET_TYPE		"Vrsta omrežja:"
#define STR_PCAP		"Naprava PCap:"
#define STR_NET			"Omrežna kartica:"

#define STR_COM1		"Naprava COM1:"
#define STR_COM2		"Naprava COM2:"
#define STR_COM3		"Naprava COM3:"
#define STR_COM4		"Naprava COM4:"
#define STR_LPT1		"Naprava LPT1:"
#define STR_LPT2		"Naprava LPT2:"
#define STR_LPT3		"Naprava LPT3:"
#define STR_LPT4		"Naprava LPT4:"
#define STR_SERIAL1		"Serijska vrata 1"
#define STR_SERIAL2		"Serijska vrata 2"
#define STR_SERIAL3		"Serijska vrata 3"
#define STR_SERIAL4		"Serijska vrata 4"
#define STR_PARALLEL1		"Paralelna vrata 1"
#define STR_PARALLEL2		"Paralelna vrata 2"
#define STR_PARALLEL3		"Paralelna vrata 3"
#define STR_PARALLEL4		"Paralelna vrata 4"

#define STR_HDC			"Krmilnik trdega diska:"
#define STR_FDC			"Krmilnik disketnika:"
#define STR_IDE_TER		"Terciarni krmilnik IDE"
#define STR_IDE_QUA		"Kvartarni krmilnik IDE"
#define STR_SCSI		"SCSI"
#define STR_SCSI_1		"Krmilnik 1:"
#define STR_SCSI_2		"Krmilnik 2:"
#define STR_SCSI_3		"Krmilnik 3:"
#define STR_SCSI_4		"Krmilnik 4:"
#define STR_CASSETTE		"Kasetnik"

#define STR_HDD			"Trdi diski:"
#define STR_NEW			"Nov..."
#define STR_EXISTING		"Obstoječ..."
#define STR_REMOVE		"Odstrani"
#define STR_BUS			"Vodilo:"
#define STR_CHANNEL		"Kanal:"
#define STR_ID			"ID:"

#define STR_SPECIFY		"Določi..."
#define STR_SECTORS		"Sektorji:"
#define STR_HEADS		"Glave:"
#define STR_CYLS		"Cilindri:"
#define STR_SIZE_MB		"Velikost (MB):"
#define STR_TYPE		"Vrsta:"
#define STR_IMG_FORMAT		"Format slike:"
#define STR_BLOCK_SIZE		"Velikost bloka:"

#define STR_FLOPPY_DRIVES	"Disketni pogoni:"
#define STR_TURBO		"Turbo časovniki"
#define STR_CHECKBPB		"Preverjaj BPB"
#define STR_CDROM_DRIVES	"Pogoni CD-ROM:"
#define STR_CD_SPEED		"Hitrost:"

#define STR_MO_DRIVES		"Magnetno-optični pogoni:"
#define STR_ZIP_DRIVES		"Pogoni ZIP:"
#define STR_250			"ZIP 250"

#define STR_ISARTC		"Ura v realnem času ISA:"
#define STR_ISAMEM		"Razširitev spomina ISA"
#define STR_ISAMEM_1		"Kartica 1:"
#define STR_ISAMEM_2		"Kartica 2:"
#define STR_ISAMEM_3		"Kartica 3:"
#define STR_ISAMEM_4		"Kartica 4:"
#define STR_BUGGER		"Naprava ISABugger"
#define STR_POSTCARD		"Kartica POST"

#define FONT_SIZE		9
#define FONT_NAME		"Segoe UI"

#include "dialogs.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    2048	"86Box"
    IDS_2049	"Napaka"
    IDS_2050	"Kritična napaka"
    IDS_2051	" - PAUSED"
    IDS_2052	"Pritisnite Ctrl+Alt+PgDn za povratek iz celozaslonskega načina."
    IDS_2053	"Hitrost"
    IDS_2054	"ZIP %03i %i (%s): %ls"
    IDS_2055	"ZIP slike (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0"
    IDS_2056	"86Box ni našel nobenih uporabnih ROM slik.\n\nProsim <a href=""https://github.com/86Box/roms/releases/latest"">prenesite</a> set ROM-ov in ga razširite v mapo ""roms""."
    IDS_2057	"(prazno)"
    IDS_2058	"ZIP slike (*.IM?;*.ZDI)\0*.IM?;*.ZDI\0Vse datoteke (*.*)\0*.*\0"
    IDS_2059	"Turbo"
    IDS_2060	"Vključeno"
    IDS_2061	"Izključeno"
    IDS_2062	"Vse slike (*.86F;*.DSK;*.FLP;*.IM?;*.*FD?)\0*.86F;*.DSK;*.FLP;*.IM?;*.*FD?\0Osnovne sektorske slike (*.DSK;*.FLP;*.IM?;*.*FD?)\0*.DSK;*.FLP;*.IM?;*.IMG;*.*FD?\0Površinske slike (*.86F)\0*.86F\0"
    IDS_2063	"Sistem ""%hs"" ni na voljo zaradi manjkajočih ROM-ov v mapi roms/machines. Preklapljam na drug sistem, ki je na voljo."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2064	"Grafična kartica ""%hs"" ni na voljo zaradi manjkajočih ROM-ov v mapi roms/video. Preklapljam na drugo grafično kartico, ki je na voljo.."
    IDS_2065	"Sistem"
    IDS_2066	"Zaslon"
    IDS_2067	"Vhodne naprave"
    IDS_2068	"Zvok"
    IDS_2069	"Omrežje"
    IDS_2070	"Vrata (COM & LPT)"
    IDS_2071	"Krmilniki shrambe"
    IDS_2072	"Trdi diski"
    IDS_2073	"Disketni in CD-ROM pogoni"
    IDS_2074	"Druge odstranljive naprave"
    IDS_2075	"Druga periferija"
    IDS_2076	"Površinske slike (*.86F)\0*.86F\0"
    IDS_2077	"Kliknite za zajem miške"
    IDS_2078	"Pritisnite F8+F12 za izpust miške"
    IDS_2079	"Pritisnite F8+F12 ali srednji gumb za izpust miške"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_2080	"Ne morem inicializirati FluidSynth"
    IDS_2081	"Vodilo"
    IDS_2082	"Datoteka"
    IDS_2083	"C"
    IDS_2084	"H"
    IDS_2085	"S"
    IDS_2086	"MB"
    IDS_2087	"Preveri BPB"
    IDS_2088	"KB"
    IDS_2089	"Ne morem inicializirati pogona upodabljanja."
    IDS_2090	"Privzeto"
    IDS_2091	"%i stanj čakanja"
    IDS_2092	"Vrsta"
    IDS_2093	"Nastavitev PCap ni uspela"
    IDS_2094	"Nobena naprava PCap ni bila najdena"
    IDS_2095	"Neveljavna naprava PCap"
    IDS_2096	"Standardna krmilna palica z 2 gumboma"
    IDS_2097	"Standardna krmilna palica s 4 gumbi"
    IDS_2098	"Standardna krmilna palica s 6 gumbi"
    IDS_2099	"Standardna krmilna palica z 8 gumbi"
    IDS_2100	"CH Flightstick Pro"
    IDS_2101	"Microsoft SideWinder Pad"
    IDS_2102	"Thrustmaster Flight Control System"
    IDS_2103	"Brez"
    IDS_2104	"Ne morem naložiti pospeševalnikov tipkovnice."
    IDS_2105	"Ne morem registrirati neobdelanega vnosa."
    IDS_2106	"%u"
    IDS_2107	"%u MB (CHS: %i, %i, %i)"
    IDS_2108	"Disketa %i (%s): %ls"
    IDS_2109	"Vse slike (*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF)\0*.0??;*.1??;*.??0;*.86F;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.JSON;*.TD0;*.*FD?;*.MFM;*.XDF\0Napredne sektorske slike (*.IMD;*.JSON;*.TD0)\0*.IMD;*.JSON;*.TD0\0Osnovne sektorske slike (*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?)\0*.0??;*.1??;*.??0;*.BIN;*.CQ?;*.D??;*.FLP;*.HDM;*.IM?;*.XDF;*.*FD?\0Tokovne slike (*.FDI)\0*.FDI\0Površinske slike (*.86F;*.MFM)\0*.86F;*.MFM\0Vse datoteke (*.*)\0*.*\0"
    IDS_2110	"Ne morem inicializirati FreeType"
    IDS_2111	"Ne morem inicializirati SDL, potrebna je knjižica SDL2.dll"
    IDS_2112	"Ste prepričani, da želite ponovno zagnati emulirani sistem?"
    IDS_2113	"Ste prepričani, da želite zapreti 86Box?"
    IDS_2114	"Ne morem inicializirati Ghostscript"
    IDS_2115	"MO %i (%ls): %ls"
    IDS_2116	"Slike MO (*.IM?;*.MDI)\0*.IM?;*.MDI\0Vse datoteke (*.*)\0*.*\0"
    IDS_2117	"Dobrodošli v 86Box!"
    IDS_2118	"Notranji krmilnik"
    IDS_2119	"Izhod"
    IDS_2120	"Nobeni ROM-i niso bili najdeni"
    IDS_2121	"Želite shraniti nastavitve?"
    IDS_2122	"To bo ponovno zagnalo emuliran sistem."
    IDS_2123	"Shrani"
    IDS_2124	"O programu 86Box"
    IDS_2125	"86Box v" EMU_VERSION

    IDS_2126	"Emulator starih računalnikov\n\nAvtorji: Sarah Walker, Miran Grca, Fred N. van Kempen (waltje), SA1988, Tiseno100, reenigne, leilei, JohnElliott, greatpsycho in drugi.\n\nIzdano pod licenco GNU General Public License različica 2 ali novejša. Glej datoteko LICENSE za več informacij."
    IDS_2127	"V redu"
    IDS_2128	"Strojna oprema ni na voljo"
#ifdef _WIN32
#define LIB_NAME_PCAP "WinPcap"
#else
#define LIB_NAME_PCAP "libpcap"
#endif
    IDS_2129	"Prepičajte se, da je nameščen " LIB_NAME_PCAP " in da ste na omrežni povezavi, združljivi z " LIB_NAME_PCAP
    IDS_2130	"Neveljavna konfiguracija"
#ifdef _WIN32
#define LIB_NAME_FREETYPE "freetype.dll"
#else
#define LIB_NAME_FREETYPE "libfreetype"
#endif
    IDS_2131	LIB_NAME_FREETYPE " je potreben za emuliranje ESC/P tiskalnika."
#ifdef _WIN32
#define LIB_NAME_GS "gsdll32.dll"
#else
#define LIB_NAME_GS "libgs"
#endif
    IDS_2132	LIB_NAME_GS " je potreben za samodejno pretvorbo PostScript datotek v PDF.\n\nVsi dokumenti, poslani generičnemu PostScript tiskalniku bodo shranjeni kot PostScript (.ps) datoteke."
#ifdef _WIN32
#define LIB_NAME_FLUIDSYNTH "libfluidsynth.dll"
#else
#define LIB_NAME_FLUIDSYNTH "libfluidsynth"
#endif
    IDS_2133	LIB_NAME_FLUIDSYNTH " je potreben za FluidSynth MIDI izhod."
    IDS_2134	"Preklapljam v celozaslonski način"
    IDS_2135	"Ne pokaži več tega sporočila"
    IDS_2136	"Prekliči izhod"
    IDS_2137	"Resetiraj"
    IDS_2138	"Ne resetiraj"
    IDS_2139	"Slike MO (*.IM?;*.MDI)\0*.IM?;*.MDI\0Vse datoteke (*.*)\0*.*\0"
    IDS_2140	"Slike CD-ROM (*.ISO;*.CUE)\0*.ISO;*.CUE\0Vse datoteke (*.*)\0*.*\0"
    IDS_2141	"Konfiguracija naprave %hs"
    IDS_2142    "Zaslon v načinu spanja"
    IDS_2143	"Senčilniki OpenGL (*.GLSL)\0*.GLSL\0Vse datoteke (*.*)\0*.*\0"
    IDS_2144	"Možnosti OpenGL"
    IDS_2145	"Nalagate nepodprto konfiguracijo"
    IDS_2146	"Filtriranje vrste procesorja glede na izbran sistem je onemogočeno za ta emuliran sistem.\n\nTako lahko izberete procesor, ki je sicer nezdružljiv z izbranim sistemom. Vendar lahko naletite na nezdružljivosti z BIOS-om sistema ali drugo programsko opremo\n\nOmogočanje te nastavitve ni uradno podprto, vsa poročila o hroščih iz tega naslova pa bodo zaprta kot neveljavna."
    IDS_2147	"Nadaljuj"
    IDS_2148	"Kaseta: %s"
    IDS_2149	"Slike kaset (*.PCM;*.RAW;*.WAV;*.CAS)\0*.PCM;*.RAW;*.WAV;*.CAS\0Vse datoteke (*.*)\0*.*\0"
    IDS_2150	"Spominski vložek %i: %ls"
    IDS_2151	"Slike spominskega vložka (*.A;*.B;*.JRC)\0*.A;*.B;*.JRC\0Vse datoteke (*.*)\0*.*\0"
    IDS_2152	"Error initializing renderer"
    IDS_2153	"OpenGL (3.0 Core) renderer could not be initialized. Use another renderer."
    IDS_2154	"Resume execution"
    IDS_2155	"Pause execution"
    IDS_2156	"Press Ctrl+Alt+Del"
    IDS_2157	"Press Ctrl+Alt+Esc"
    IDS_2158	"Hard reset"
    IDS_2159	"ACPI shutdown"
    IDS_2160	"Settings"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_4096    "Trdi disk (%s)"
    IDS_4097	"%01i:%01i"
    IDS_4098	"%01i"
    IDS_4099	"MFM/RLL ali ESDI pogoni CD-ROM niso nikoli obstajali"
    IDS_4100	"Po meri..."
    IDS_4101	"Po meri (velik)..."
    IDS_4102	"Dodaj nov trdi disk"
    IDS_4103	"Dodaj obstoječ trdi disk"
    IDS_4104	"Slike diska HDI ne morejo biti večje od 4 GB."
    IDS_4105	"Slike diska ne morejo biti večje od 127 GB."
    IDS_4106	"Slike trdega diska (*.HD?;*.IM?;*.VHD)\0*.HD?;*.IM?;*.VHD\0Vse datoteke (*.*)\0*.*\0"
    IDS_4107	"Ne morem prebrati datoteke"
    IDS_4108	"Ne morem pisati v datoteko"
    IDS_4109	"Slike HDI ali HDX, ki nimajo sektorjev velikosti 512 bajtov, niso podprte."
    IDS_4110	"USB še ni podprt"
    IDS_4111	"Datoteka s sliko diska že obstaja"
    IDS_4112	"Prosim, navedite veljavno ime datoteke."
    IDS_4113	"Slika diska ustvarjena"
    IDS_4114	"Prepričajte se, da datoteka obstaja in je berljiva."
    IDS_4115	"Prepričajte se, da datoteko shranjujete v zapisljivo mapo."
    IDS_4116	"Slika diska je prevelika"
    IDS_4117	"Ne pozabite na novem disku ustvariti particij in jih formatirati."
    IDS_4118	"Izbrana datoteka bo prepisana. Ali jo res želite uporabiti?"
    IDS_4119	"Nepodprta slika diska"
    IDS_4120	"Prepiši"
    IDS_4121	"Ne prepiši"
    IDS_4122	"Surova slika (.img)"
    IDS_4123	"Slika HDI (.hdi)"
    IDS_4124	"Slika HDX (.hdx)"
    IDS_4125	"VHD fiksne velikosti (.vhd)"
    IDS_4126	"Dinamičen VHD (.vhd)"
    IDS_4127	"Diferencialni VHD (.vhd)"
    IDS_4128	"Veliki bloki (2 MB)"
    IDS_4129	"Mali bloki (512 KB)"
    IDS_4130	"Datoteke VHD (*.VHD)\0*.VHD\0Vse datoteke (*.*)\0*.*\0"
    IDS_4131	"Izberite starševsko sliko VHD"
    IDS_4132	"To lahko pomeni, da je bila starševska slika spremenjena potem, ko je že bila ustvarjena diferencialna slika.\n\nDo tega lahko pride tudi kadar so datoteke slik diska premaknjene ali kopirane, ali pa gre za hrošča v programu, ki je ustvaril ta disk.\n\nŽelite popraviti časovni žig?"
    IDS_4133	"Časovna žiga starševske slike diska in slike diska otroka se ne ujemata"
    IDS_4134	"Ne morem popraviti časovnega žiga slike VHD."
    IDS_4135	"%01i:%02i"

    IDS_4352    "MFM/RLL"
    IDS_4353    "XTA"
    IDS_4354    "ESDI"
    IDS_4355    "IDE"
    IDS_4356    "ATAPI"
    IDS_4357    "SCSI"

    IDS_4608	"MFM/RLL (%01i:%01i)"
    IDS_4609	"XTA (%01i:%01i)"
    IDS_4610	"ESDI (%01i:%01i)"
    IDS_4611	"IDE (%01i:%01i)"
    IDS_4612	"ATAPI (%01i:%01i)"
    IDS_4613	"SCSI (%01i:%02i)"

    IDS_5120	"CD-ROM %i (%s): %s"

    IDS_5376	"Onemogočeno"
    IDS_5381	"ATAPI"
    IDS_5382    "SCSI"

    IDS_5632	"Onemogočeno"
    IDS_5637	"ATAPI (%01i:%01i)"
    IDS_5638    "SCSI (%01i:%02i)"

    IDS_5888	"160 kB"
    IDS_5889	"180 kB"
    IDS_5890	"320 kB"
    IDS_5891	"360 kB"
    IDS_5892	"640 kB"
    IDS_5893	"720 kB"
    IDS_5894	"1.2 MB"
    IDS_5895	"1.25 MB"
    IDS_5896	"1.44 MB"
    IDS_5897	"DMF (grozd 1024)"
    IDS_5898	"DMF (grozd 2048)"
    IDS_5899	"2.88 MB"
    IDS_5900	"ZIP 100"
    IDS_5901	"ZIP 250"
    IDS_5902	"3.5"" 128 MB (ISO 10090)"
    IDS_5903	"3.5"" 230 MB (ISO 13963)"
    IDS_5904	"3.5"" 540 MB (ISO 15498)"
    IDS_5905	"3.5"" 640 MB (ISO 15498)"
    IDS_5906	"3.5"" 1.3 GB (GigaMO)"
    IDS_5907	"3.5"" 2.3 GB (GigaMO 2)"
    IDS_5908	"5.25"" 600 MB"
    IDS_5909	"5.25"" 650 MB"
    IDS_5910	"5.25"" 1 GB"
    IDS_5911	"5.25"" 1.3 GB"

    IDS_6144	"Popolni obrati na minuto"
    IDS_6145	"1% pod popolnimi obrati"
    IDS_6146	"1.5% pod popolnimi obrati"
    IDS_6147	"2% pod popolnimi obrati"

    IDS_7168	"(Sistemsko privzeto)"
END
#define IDS_LANG_ENUS	IDS_7168

// Slovenian resources
/////////////////////////////////////////////////////////////////////////////
