name: MinGW64 Makefile

on:

  push:
    paths:
    - src/**
    - .github/workflows/c-cpp.yml
    - "!**/CMakeLists.txt"

  pull_request:
    paths:
    - src/**
    - .github/workflows/c-cpp.yml
    - "!**/CMakeLists.txt"

jobs:
  build:
    name: ${{ matrix.environment.msystem }} Makefile build (DEV_BUILD=${{ matrix.dev-build }}, NEW_DYNAREC=${{ matrix.new-dynarec }})

    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    strategy:
      fail-fast: true
      matrix:
        dev-build: ['y', 'n']
        new-dynarec: ['y', 'n']
        environment:
          - msystem: MINGW32
            prefix: mingw-w64-i686
            x64: n
          - msystem: MINGW64
            prefix: mingw-w64-x86_64
            x64: y

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        msystem: ${{ matrix.environment.msystem }}
        install: >-
          make
          ${{ matrix.environment.prefix }}-gcc
          ${{ matrix.environment.prefix }}-pkg-config
          ${{ matrix.environment.prefix }}-freetype
          ${{ matrix.environment.prefix }}-SDL2
          ${{ matrix.environment.prefix }}-zlib
          ${{ matrix.environment.prefix }}-libpng
          ${{ matrix.environment.prefix }}-libvncserver
          ${{ matrix.environment.prefix }}-rtmidi
    - uses: actions/checkout@v3
    - name: make
      run: make -fwin/makefile.mingw -j DEV_BUILD=${{ matrix.dev-build }} NEW_DYNAREC=${{ matrix.new-dynarec }} X64=${{ matrix.environment.x64 }} VNC=n
      working-directory: ./src
